label {
  border-left: 3px solid #3BB4F2;
  padding: 0 1em;
  margin-top: .4em;
  margin-bottom: .4em;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 100%;
  color: #555;
}
th {
  border-top: 1px solid #CCC;
  background-color: #EEE;
  border-right: 1px solid #CCC;
}
tbody > tr {
  -webkit-transition: all 0.2s;
          transition: all 0.2s;
}
.table-form tr {
  cursor: pointer;
}
.ms-controller {
  display: none;
}
.title {
  text-align: center;
}
.content {
  margin: 20px auto;
  padding: 30px;
  box-sizing: border-box;
  width: 1000px;
  min-height: 80vh;
  box-shadow: 0 0 2px #888;
}
#style-5::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}
#style-5::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(0, 0, 0, 0.1);
}
#style-5::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
}
