{extend name="template/base_default"}
{block name="header"}
<link rel="stylesheet" href="__CSS__/common.css">
<style>
    .login-form{
        background: white;
    }
</style>
{/block}
{block name="body"}
<form action="{:url('login/register')}" method="post">
    <div class="weui-cell weui-cell_vcode login-form">
        <div class="weui-cell__hd">
            <label class="weui-label">手机号</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="tel" placeholder="请输入手机号">
        </div>
        <div class="weui-cell__ft">
            <a href="javascript:void(0);" class="weui-vcode-btn">获取验证码</a>
        </div>
    </div>
    <div class="weui-cell login-form">
        <div class="weui-cell__hd"><label class="weui-label">验证码</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="number"  placeholder="请输入验证码">
        </div>
    </div>
    <div class="weui-cell login-form">
        <div class="weui-cell__hd"><label class="weui-label">密码</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="password"  placeholder="请输入密码">
        </div>
    </div>
    <div class="weui-btn-area">
        <button class="weui-btn weui-btn_primary" type="submit">确定</button>
    </div>
</form>
{/block}
{block name="footer"}
<script type="text/javascript" src="__JS__/public.js"></script>
<script>

</script>
{/block}