{extend name="df/tpl/base_index" /}

{block name="area_body"}
<div class="layui-card">
  <div class="layui-card-header">{$cfg.business}{:L('manage')}</div>
  <div class="layui-card-body">
    {:html_head_tip({$cfg.business}.'数据,点击 .单元格编辑<br>Excel导入注意格式对号入座,从左到右的列依次为:名称(可空)，PID，长连接，短链接(可空)，淘口令(可空)')}
    <form class="layui-form layui-form-pane" lay-filter="js-form"> <!-- autocomplete="off" -->
      {:token()}
    <div class="block clearfix">
      <select name="uid" class="user_select2" id="js-set-uid" style="width:200px;" lay-ignore>
        <!-- <option value="">UID/账号/昵称/手机号</option> -->
      </select>
      <!-- <input type="text" name="uid" id="js-set-uid"  style="width:200px;display: inline-block;" class="layui-inline layui-input" placeholder="选择分配用户"> -->
      <a data-src="{:url(CONTROLLER_NAME.'/setUser')}" data-table="demo" class="layui-btn layui-btn-warm confirm layui-btn-sm sco-msg no-refresh js-ops fresh-table" id="js-set-user" title="批量分配" data-content="确定如此分配吗 ?"><i class="layui-icon layui-icon-link"></i>分配</a>
    </div> <hr>
      <div class="layui-inline">
        <!-- <label for="jsf-kword" class="layui-form-label">关键词</label> -->
        <div class="layui-input-inline" style="width: 200px;">
          <input type="text" id="jsf-kword" name="kword" class="layui-input" required lay-require="true" placeholder="PID|推广位" autofocus>
        </div>
      </div>
      <div class="layui-inline">
        <div class="layui-input-inline" style="width: 150px;">
          <select name="send" id="jsf-send" lay-filter="search">
            <option value=""> == 分配 == </option>
            <option value="1"> 已分配 </option>
            <option value="2"> 未分配 </option>
          </select>
        </div>
      </div>
      <div class="layui-inline layui-form-item mb0">
        <label class="layui-form-label">添加时间 <i class="layui-icon layui-icon-date"></i></label>
        <div class="layui-input-inline" style="width: 130px;">
          <input type="text" id='jsf-start' name="start" class="layui-input">
        </div>
        <div class="layui-form-mid">-</div>
        <div class="layui-input-inline" style="width: 130px;">
          <input type="text" id='jsf-end' name="end" class="layui-input">
        </div>
      </div>
      <div class="layui-inline">
        <a class="layui-btn layui-btn-sm" id="js-search" title="搜索"> <i class="layui-icon layui-icon-search"></i> </a>
        <button class="layui-btn layui-btn-sm" title="重置" type="reset">重置</button>
      </div>
    </form>

<table id="demo" lay-filter="fDemo"></table>
  </div>
</div>

<script type="text/html" id="toolbarDemo">
  <div class="layui-btn-group">
    <a href="{:url(CONTROLLER_NAME.'/set')}" class="layui-btn layui-btn-sm ajax-layer" title="添加" data-title="账号添加"><i class="layui-icon layui-icon-add-1"></i></a>
    <a data-href="{:url(CONTROLLER_NAME.'/dels')}" data-table="demo" class="layui-btn layui-btn-danger confirm js-ops layui-btn-sm sco-msg no-refresh fresh-table" title="批量删除" ><i class="layui-icon layui-icon-delete"></i></a>
  </div>
  <button type="button" class="layui-btn layui-btn-sm layui-btn-primary fr fix_2_toolbar" id="js-loadExcel">
    <i class="layui-icon">&#xe67c;</i>推广位导入
  </button>
</script>
<script type="text/html" id="barDemo">
  <div class="layui-btn-group">
    <a href="{:url(CONTROLLER_NAME.'/set',[],'')}?id={{ d.id }}" class="layui-btn layui-btn-sm ajax-layer" title="修改" data-title="账号修改"><i class="layui-icon layui-icon-edit"></i></a>
    <a href="{:url(CONTROLLER_NAME.'/del',[],'')}?id={{ d.id }}" class="layui-btn layui-btn-sm layui-btn-danger ajax-get confirm no-refresh fresh-table" title="删除"><i class="layui-icon layui-icon-delete"></i></a>
  </div>
</script>
{/block}

{block name="area_foot"}
{include file="df/tpl/load_excel"}
<!-- script -->
<script>
// page init
layui.use(['rb','table2','form','datetimepicker','picView','select2'], function() { //tableSelect,'select2'
  var layer = layui.layer
  // ,upload = layui.upload
  ,table = layui.table2
  // ,ckplayer = layui.ckplayer
  ,form = layui.form
  ,rb = layui.rb
  // ,tableSelect = layui.tableSelect
  ,$ = layui.$;

  // ts-selected : 默认值
  // tableSelect.render({
  //   elem: '#js-set-uid'//输入框
  //   ,checkedKey: 'id'      //表格的唯一建值
  //   ,searchKey: 'kword'    //搜索框的 name
  //   ,searchPlaceholder: 'UID/账号/昵称/手机号'
  //   ,table: {  //同LAYUI的TABLE模块，无需elem
  //     url : "{:url('user/ajax',['level'=>1])}"
  //     ,method: 'get'
  //     ,request: { pageName: 'page',limitName: 'size' }
  //     ,loading: true
  //     ,size: 'sm'
  //     ,initSort:{
  //       field: 'id'
  //       ,type: 'desc'
  //     }
  //     ,page : {
  //       limits: [5,10]
  //       ,limit: 5
  //       ,layout:['prev','page','next','skip','limit','count','refresh']
  //     }
  //     ,cols: [[
  //     // {type: 'checkbox'}
  //     {type: 'radio'}
  //     ,{field: 'id',title: 'ID', width: 80,sort:true }
  //     ,{field: 'nick', title: "昵称(用户名)",templet:'#nameTpl'}
  //     ,{field: 'email', title: '邮箱' }
  //     ,{field: 'phone', title: '手机' }
  //     ]]
  //   }
  //   ,done: function (elem, data) {
  //     // console.log('data',data);
  //     if(data.data.length){
  //       elem.val('['+data.data[0].id+'] '+data.data[0].name);
  //     }else{
  //       elem.val('');
  //     }
  //   }
  // });

  window.excelData = null;
  window.loading   = false;
  $('#body').on('click','#js-loadExcel',function(e){
    $('#js-file-input').trigger('click');
    e.preventDefault();
  });
  $('#js-file-input').on('change',function(){
    importf(this);
  });
  $('#js-excelData').on('loadData',function() {
    window.excelData = [];
    if(window.loading){
      rb.msg(L('busy-now'),0);
      return;
    }
    // load_excel : excel ,wb
    window.loading = true;
    var l = excel.length,e=0;
    var html = '';
    if(l){
      // show title
      html += ' <thead><tr><th>名称(可空)</th><th>PID</th><th>长连接</th><th>短链接(可空)</th><th>淘口令(可空)</th><th>检查结果</th></tr><tr>';
      for (var k in excel[0]) {
        html += '<th>'+ k+'</th>';
      }
      html += '<th></th></tr></thead><tbody>';
      // show data
      for (var i = 0; i < l; i++) {
        html += '<tr>';var temp = [];
        for (var k in excel[i]){
          html += '<td>'+excel[i][k]+'</td>';
          temp.push(excel[i][k]);
        }
        temp.length && window.excelData.push(temp);
        html += '<td></td></tr>';
      }
      html += '</tbody>';
    }else{
      html = '<tr class="js-no-data"><td>'+L('no-data')+'</td></tr>';
    }
    // console.log('excel',excel);
    $('#js-excelData').html(html);
    rb.openExcelLayer('{:url(CONTROLLER_NAME."/excel")}',html,this);
  });

  var send =  "{$send ?? ''}";
  // form init
  form.val("js-form",{
    send : send
  });
  // table init
  rb.where.send = send;
  rb.setWhere = function () {
    rb.where.kword = $('#jsf-kword').val();
    rb.where.start = $('#jsf-start').val();
    rb.where.end   = $('#jsf-end').val();
    rb.where.send  = $('#jsf-send').val();
  }
  // table render
  rb.table = table.render($.extend(rb.table_config, {
    url: '{:url(CONTROLLER_NAME."/ajax")}'
    ,where:rb.where
    ,cols:  [[
      {type: 'checkbox'} //,LAY_CHECKED: true
      ,{field: 'id', title: 'ID', width: 80,sort:true,hideDisable:true }
      ,{field: 'name', title: '推广位' }
      ,{field: 'pid', title: 'PID', width: 120,templet: '#pidTpl'}
      ,{type: 'space', title: '推广码',width: 55,templet: '#inviteQrTpl'}
      ,{field: 'invite_url', title: '长链接',templet: '#inviteUrlTpl'}
      ,{type: 'space', title: '推广码',width: 55,templet: '#inviteSmQrTpl',hide:true }
      ,{field: 'invite_url_sm', title: '短链接',templet: '#inviteUrlSmTpl'}
      ,{field: 'token', title: '淘口令'}
      ,{field: 'add_uid', title: '添加用户',templet:'#addUidTpl'}
      ,{field: 'create_time', title: '导入时间',templet:'#timeTpl',sort:true,hide:true }
      ,{field: 'to_uid', title: '一级分销',templet:'#allotTpl'}
      ,{align:'left',title: '操作',toolbar: '#barDemo'}
    ]]
  }));
  //
  $('#jsf-start,#jsf-end').datetimepicker({
    lang: 'ch',
    format:'Y-m-d H:i',
    allowBlank : true,
    // timepicker:false,
  });
  $(".user_select2").select2(rb.getSelect2Config({ },{ url: "{:url('user/ajax',['level'=>1])}" }));
  $('#js-set-user').click(function(event) {
    if($(this).data('href')){
    }else{
      rb.alert('需要选择分配用户');
      return false;
    }
  });
  $('.user_select2').on('select2:select', function (e) {
      var $tar = $('#js-set-user');
      $tar.data('href',$tar.data('src')+'?uid='+e.params.data.id);
  });

  {include file="df/tpl/index_extra"}
});
</script>
<!-- tpl -->
<script type="text/html" id="addUidTpl">
  {{# if(d.add_uid>0){ }}
  {{ layui.rb.avaImg(d.add_uid,60) }}<a href="{:url('user/detail')}?id={{ d.add_uid }}" class="layui-table-link ajax-layer" title="查看用户详情">{{ d.add_name }}</a>
  {{# } }}
</script>
<script type="text/html" id="timeTpl">
  {{ layui.rb.getFormatTime( d.create_time ) }}
</script>
<script type="text/html" id="allotTpl">
   {{# if(d.to_uid>0){ }}
   {{ layui.rb.avaImg(d.to_uid,60) }}<a href="{:url('user/detail')}?id={{ d.to_uid }}" class="layui-table-link ajax-layer" title="查看用户详情">{{ d.to_name }}</a>
   {{# } }}
</script>
<script type="text/html" id="pidTpl">
  <a href="{:url('wallet_his/index')}?pid={{ d.pid }}&dt_type=17" title="PID({{ d.pid }})的分佣详情" data-width="95%" class="ajax-layer layui-table-link">{{# if( d.to_uid ){ }}  <i class="layui-icon layui-icon-password"></i> {{# } }} {{ d.pid }}</a>
</script>
<script type="text/html" id="inviteQrTpl">
  <img src="{:url(CONTROLLER_NAME.'/qrcode')}?size=1&text={{  d.invite_url }}"  layer-src="{:url(CONTROLLER_NAME.'/qrcode')}?size=8&text={{  d.invite_url }}" class="js-view" title="点击查看大图"/>
</script>
<script type="text/html" id="inviteUrlTpl">
  <a href="{{ d.invite_url }}" class="layui-table-link" target="_blank" title="{{ d.invite_url }}">{{ d.invite_url }}</a>
</script>
<script type="text/html" id="inviteSmQrTpl">
  <img src="{:url(CONTROLLER_NAME.'/qrcode')}?size=1&text={{  d.invite_url_sm }}" layer-src="{:url(CONTROLLER_NAME.'/qrcode')}?size=8&text={{  d.invite_url_sm }}" class="js-view" title="点击查看大图"/>
</script>
<script type="text/html" id="inviteUrlSmTpl">
  <a href="{{ d.invite_url_sm }}" class="layui-table-link" target="_blank" title="{{ d.invite_url_sm }}">{{ d.invite_url_sm }}</a>
</script>
<!-- <script type="text/html" id="nameTpl">
  {{ layui.rb.avaImg(d.id,60) }} {{ d.nick }}
</script> -->
{/block}