{extend name="template/base_default"}
{block name="header"}
<link rel="stylesheet" href="__CSS__/common.css">
<style>
    .coding-img{
        width:100%
    }
    .coding-img img{
        width:60%;
        margin:60px 20% 10px;
    }
    .coding-text{
        text-align: center;
        color:deepskyblue;
    }
</style>
{/block}
{block name="body"}
<div class="coding-img">
    <img src="__IMG__/shop/coding.png">
</div>
<div class="coding-text">功能开发中，敬请期待</div>

{include file="template/nav_bar"}
{/block}
{block name="footer"}
<script type="text/javascript" src="__JS__/public.js"></script>
<script type="text/javascript">

</script>
{/block}