{extend name="df/tpl/base" /}

{block name="area_head"}
<!-- datetimepicker -->
<link rel="stylesheet" type="text/css" media="all" href="__CDN__jquery-datetimepicker/jquery.datetimepicker.css">
<script type="text/javascript" src="__CDN__jquery-datetimepicker/jquery.datetimepicker.js"></script>
<!-- ueditor -->
<script type="text/javascript" charset="utf-8" src="__PUBLIC__static/ueditor/1.4.3/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__static/ueditor/1.4.3/ueditor.all.min.js"> </script>
{/block}

{block name="area_body"}
<div class="page-header">
  <div class="page-title"><i></i>
    文章 {$op}
  </div>
</div>
<form class="layui-form layui-form-pane post-form">
  {volist name="jsf_tpl" id="v"}{$v}{/volist}
  <div class="layui-form-item">
    <label class="layui-form-label">标签</label>
    <div class="layui-input-block">
      <input type="checkbox" name="like[write]" title="写作">
      <input type="checkbox" name="like[read]" title="阅读">
    </div>
  </div>
  <div class="layui-form-item layui-input-block">
      <button target-form="post-form" class="layui-btn ajax-post" href="{:url(CONTROLLER_NAME.'/set',['id'=>$id])}" ><i class="layui-icon layui-icon-ok"></i>{$op}</button>
      {$html_return|raw}
  </div>
</form>
<!-- php是最好的语言吗? -->
{include file="df/tpl/pic_select"}
{/block}

{block name="area_foot"}
<script>
;$(function (){
  if($.fn.datetimepicker){
    $(".js-datetime-picker").each(function(index, el) {
      var $el = $(el);
      var fmt = $el.data('format');
      // $el.datetimepicker({
      //   lang: 'ch',
      //   timepicker:fmt.indexOf("i") != -1,
      //   datepicker:fmt.indexOf("m") != -1,
      //   // step: 5,
      //   format:fmt,
      //   allowBlank : true,
      // });
    });
  }
  var ue = UE.getEditor('jsf-content',{
    toolbars:[
      ['fullscreen', 'source', 'undo', 'redo', 'bold','italic', 'underline', 'fontborder', 'strikethrough', 'superscript', 'subscript', '|','lineheight'
     , 'fontsize','justifyleft', 'justifycenter', 'justifyright', 'justifyjustify', 'insertimage','insertvideo','emotion','link', 'unlink', 'anchor', '|','map','print', 'preview',  'drafts','forecolor','backcolor'
      ]
  ]});
});
// page init
layui.use(['rb','form'], function(){
  var layer = layui.layer,
  form = layui.form,
  rb = layui.rb,
  $ = layui.$;

  rb.log('page','init');
  $('#jsf-title').change(function(e) {
    e.preventDefault();
    console.log($(this).val());
    // rb.ajax();
  });
});
</script>
{/block}