.idea
*.log
thinkphp/
.env
.phpintel/
runtime/
node_modules/
**/df_dist/
**/dist/
public/upload/
#public/static/dist/
public/static/avalon.js/
public/static/ueditor/
public/static/amazeui/
public/static/jquery-uploadify/
public/static/neditor/
extend/pscws4/etc/dict.utf8.xdb
vendor/
sftp-config.json