{extend name="df/tpl/base" /}

{block name="area_head"}
{/block}

{block name="area_body"}
<div class="page-header">
  <div class="page-title"><i></i>
    角色{$op ?: ''}
  </div>
</div>
<form class="layui-form layui-form-pane post-form">
  <div class="layui-form-item">
    <label for="jsf-client-name" class="layui-form-label">{$jsf.client_name}</label>
    <div class="layui-input-inline">
      <input type="text" name="client_name" id="jsf-client-name" value="{$id ?= $info['client_name']}" class="layui-input" placeholder="请输入客户端名字"  autocomplete="off" required  lay-verify="required" >
    </div>
    <div class="layui-form-mid layui-word-aux">32字以内</div>
  </div>
  <div class="layui-form-item">
    <label for="jsf-client-id" class="layui-form-label">{$jsf.client_id}</label>
    <div class="layui-input-inline input-long">
      <input type="text" name="client_id" id="jsf-client-id" value="{$id ?= $info['client_id']}" class="layui-input" placeholder="请输入客户端client_id"  autocomplete="off" required  lay-verify="required" >
    </div>
  </div>
  <div class="layui-form-item">
    <label for="jsf-client-secret" class="layui-form-label">{$jsf.client_secret}</label>
    <div class="layui-input-inline input-long">
      <input type="text" name="client_secret" id="jsf-client-secret" value="{$id ?= $info['client_secret']}" class="layui-input" placeholder="请输入客户端"  autocomplete="off" required  lay-verify="required" >
    </div>
  </div>
  <div class="layui-form-item">
    <label for="jsf-api-alg" class="layui-form-label">{$jsf.api_alg}</label>
    <div class="layui-input-inline input-long">
      <select name="api_alg" id="jsf-api-alg" required  lay-verify="required" >
        <option value="md5">MD5</option>
      </select>
    </div>
  </div>
  <div class="layui-form-item">
    <label for="jsf-desc" class="layui-form-label">{$jsf.desc}</label>
    <div class="layui-input-inline input-long">
      <textarea name="desc" id="jsf-desc" class="layui-textarea">{$id ?= $info.desc}</textarea>
    </div>
  </div>
  <div class="layui-form-item layui-input-block">
      <button target-form="post-form" class="layui-btn ajax-post" href="{:url(CONTROLLER_NAME.'/set',['id'=>$id])}" >{$op ?: ''}</button>
      {$html_return|raw}
  </div>
</form>
{/block}

{block name="area_foot"}
<script>
// page init
layui.use(['rb','form'], function(){
  var layer = layui.layer,
  form = layui.form,
  rb = layui.rb,
  $ = layui.$;

  rb.log('page','init');
});
</script>
{/block}