{extend name="template/base_default"}
{block name="header"}
<link rel="stylesheet" href="__CSS__/common.css">
<link rel="stylesheet" href="__CSS__/two_code/style.css">
{/block}
{block name="body"}
<div class="two-code">
    <div class="two-code-head">
        <div class="two-code-head-img"><img src="{$user_Info.head}" alt=""></div>
    </div>
    <div class="two-code-name">{$user_Info.nickname}</div>
    <div class="two-code-level">
        <span>
            {if condition = '$level == "健康天使"'}
                <div class="two-code-level-pic"><img src="__IMG__/user/tianshi.png" alt=""></div>
                {elseif condition = '$level == "健康精英"' /}
                <div class="two-code-level-pic"><img src="__IMG__/user/jingying.png" alt=""></div>
                {elseif condition = '$level == "健康领袖"'/}
                <div class="two-code-level-pic"><img src="__IMG__/user/lingdao.png" alt=""></div>
                {elseif condition = '$level == "注册会员"'/}
                <div class="two-code-level-pic"><img src="__IMG__/user/putong.png" alt=""></div>
            {/if}
            {$level}
        </span>
    </div>
    <div class="two-code-erweima">
        <div id="qrDiv" style="display: none"></div>
        <div id="qrcodeid" class="two-code-erweima-img"></div>
    </div>
    <!--<div class="two-code-money">我已经有了5555.55元的成交额</div>-->
    <div class="two-code-scan">微信扫码，加入德弘</div>
</div>
{/block}
{block name="footer"}
<script type="text/javascript" src="__JS__/public.js"></script>
<script>
    function utf16to8(str) { //解决中文乱码
        var out, i, len, c;
        out = "";
        len = str.length;
        for(i = 0; i < len; i++) {
            c = str.charCodeAt(i);
            if ((c >= 0x0001) && (c <= 0x007F)) {
                out += str.charAt(i);
            } else if (c > 0x07FF) {
                out += String.fromCharCode(0xE0 | ((c >> 12) & 0x0F));
                out += String.fromCharCode(0x80 | ((c >> 6) & 0x3F));
                out += String.fromCharCode(0x80 | ((c >> 0) & 0x3F));
            } else {
                out += String.fromCharCode(0xC0 | ((c >> 6) & 0x1F));
                out += String.fromCharCode(0x80 | ((c >> 0) & 0x3F));
            }
        }
        return out;
    }
    //此处生成名片二维码（如要生成普通链接二维码 则 “text”参数值 直接替换成普通链接即可）
    var the_text = '{$code}';

    the_text = utf16to8(the_text);
    jQuery('#qrDiv').qrcode({
        width:150,
        height:150,
        render:"canvas", //设置渲染方式 table canvas
        typeNumber : -1,  //计算模式
        correctLevel  : 0,//纠错等级
        background   : "#ffffff",//背景颜色
        foreground   : "#000000",//前景颜色
        text:the_text
    });
    function convertCanvasToImage(canvas) {
        //新Image对象，可以理解为DOM
        var image = new Image();
        // canvas.toDataURL 返回的是一串Base64编码的URL，当然,浏览器自己肯定支持
        // 指定格式 PNG
        image.src = canvas.toDataURL("image/png");
        return image;
    }
    var mycanvas1=document.getElementsByTagName('canvas')[0];
    var img=convertCanvasToImage(mycanvas1);
    $('#qrcodeid').append(img);
</script>
{/block}