{extend name="df/tpl/base" /}

{block name="area_head"}
<style></style>
{/block}

{block name="area_body"}
<fieldset class="layui-elem-field">
  <legend>角色管理</legend>
  <div class="layui-field-box">
    {:html_head_tip('用户基础数据,点击单元格编辑')}
    <div class="layui-btn-group">
      <a href="{:url(CONTROLLER_NAME.'/set')}" class="layui-btn layui-btn-sm" title="添加"><i class="layui-icon layui-icon-add-1"></i></a>
      <a data-href="{:url(CONTROLLER_NAME.'/dels')}" data-table="demo" class="layui-btn layui-btn-danger js-ops confirm layui-btn-sm" title="批量删除"><i class="layui-icon layui-icon-delete"></i></a>
    </div>
    <table id="demo" lay-filter="fDemo"></table>
  </div>
</fieldset>
<!-- script -->
<script>
// page init
layui.use(['rb','table2','form'], function(){
  var layer = layui.layer
  ,table = layui.table2
  ,form = layui.form
  ,rb = layui.rb
  ,$ = layui.$;

  rb.log('page','init');
  rb.where = {
    role : {$role ?: 0}
    ,field:'id'
    ,order:'asc'
  }
  //执行渲染
  rb.rable = table.render({ elem: '#demo'
    ,url: '{:url(CONTROLLER_NAME."/ajax")}'
    ,where: rb.where
    ,method: 'get'
    ,request: { pageName: 'page',limitName: 'size', }
    ,loading: true
    ,page: {
      limits: [10,30]
      ,limit: 10
    }
    ,initSort:{
      field:'id'
      ,type:'asc'
    }
    ,cols:  [[
      {checkbox: true}, //,LAY_CHECKED: true
      {field: 'id', title: 'ID', width: 50,sort:true}
      ,{field: 'name', title: '角色名 .',edit: 'text'}
      ,{field: 'desc', title: '描述 .',edit: 'text'}
      ,{field: 'status', title: '开启', width: 80,templet:'#statusTpl'}
      ,{align:'left',title: '操作',toolbar: '#barDemo'}
    ]]
  });
  // 单元格排序
  table.on('sort(fDemo)', function(obj){
    rb.table.reload({
      where: rb.where
      ,initSort: obj
    });
  });
  // 单元格编辑
  table.on('edit(fDemo)', function(obj){
    // console.log(obj); // value , field ,data
    $.post('{:url(CONTROLLER_NAME."/editOne")}', { field: obj.field,val: obj.value,id:obj.data.id }, function(data){
      rb.ajaxTip(data);
    });
  });
  // 单选
  form.on('switch', function(data){
    // console.log(data); //elem elem.checked value othis
    var el = data.elem;
    rb.post(el,'{:url(CONTROLLER_NAME."/editOne")}',{ field: 'status',val: el.checked ? 1:0,id:parseInt(el.getAttribute('data-id')) },true);
  });
});
</script>
<script type="text/html" id="statusTpl">
  <form class="layui-form">
  <input type="checkbox" data-id="{{ d.id }}"
  {{# if(d.status){ }} checked  {{#  } }}
  lay-skin="switch">
  </form>
</script>
<script type="text/html" id="barDemo">
<div class="layui-btn-group">
  <a href="{:url('user/index',[],'')}?role={{ d.id }}" class="layui-btn layui-btn-sm" title="查看角色用户"><i class="layui-icon layui-icon-user"></i>用户</a>
  <a href="{:url(CONTROLLER_NAME.'/auth',[],'')}?id={{ d.id }}" class="layui-btn layui-btn-sm" title="查看角色权限"><i class="layui-icon layui-icon-set"></i>权限</a>
  <a href="{:url(CONTROLLER_NAME.'/set',[],'')}?id={{ d.id }}" class="layui-btn layui-btn-sm" title="编辑角色"><i class="layui-icon layui-icon-edit"></i></a>
  <a href="{:url(CONTROLLER_NAME.'/del',[],'')}?id={{ d.id }}" class="layui-btn layui-btn-sm layui-btn-danger ajax-get confirm no-alert" title="删除角色"><i class="layui-icon layui-icon-delete"></i></a>
</div>
</script>
{/block}

{block name="area_foot"}
{/block}