{extend name="df/tpl/base" /}

{block name="area_head"}
<style>
  .layui-tab-item{ }
  .layui-tab-item li{ display: table-cell;border:1px solid #ddd;padding: 11px 15px;margin:0;font-size: 1.4em; }
  .layui-tab-item i{ }
</style>
{/block}

{block name="area_body"}
<div class="page-header">
  <div class="page-title"><i></i>
    菜单{$op ?: ''}
  </div>
</div>
<form class="layui-form layui-form-pane post-form">
  <div class="layui-form-item">
    <label for="jsf-name" class="layui-form-label">{$jsf.name}</label>
    <div class="layui-input-inline">
      <input type="text" name="name" id="jsf-name" value="{$id ?= $info['name']}" class="layui-input" placeholder="请输入标题"  autocomplete="off" required  lay-verify="required" >
    </div>
    <div class="layui-form-mid layui-word-aux">32字以内</div>
  </div>
  <div class="layui-form-item">
    <label for="jsf-parent" class="layui-form-label">{$jsf.parent}</label>
    <div class="layui-input-inline ">
      <select name="parent" id="jsf-parent">
        <option value="0" {eq name="parent" value="0"} selected {/eq}> = 顶级 = </option>
        {volist name="menu" id="v"}
        <option value="{$v.id}" {eq name="v.id" value="$parent"} selected {/eq}>{$v.name}</option>
        {volist name="v.child" id="v2"}
          <option value="{$v2.id}" {eq name="v2.id" value="$parent"} selected {/eq}>|_ {$v2.name}</option>
        {/volist}
        {/volist}
      </select>
    </div>
    <div class="layui-form-mid layui-word-aux">有下级菜单时不许修改</div>
  </div>
  <div class="layui-form-item">
    <label for="jsf-url" class="layui-form-label">{$jsf.url}</label>
    <div class="layui-input-inline  input-long">
      <input type="text" name="url" id="jsf-url" value="{$id ?= $info['url']}" class="layui-input">
    </div>
    <div class="layui-form-mid tooltip" data-text="菜单链接,url('')参数 或 http地址" data-type="3"><i class="fa fa-bell"></i></div>
  </div>
  <div class="layui-form-item">
    <label for="jsf-icon" class="layui-form-label">{$jsf.icon}</label>
    <div class="layui-input-inline">
      <input type="text" name="icon" id="jsf-icon" value="{$id ?= $info['icon']}" placeholder="" class="layui-input">
    </div>
    <div class="layui-form-mid layui-word-aux">图标库class</div>
  </div>
  <div class="layui-form-item">
    <label for="jsf-params" class="layui-form-label">{$jsf.params}</label>
    <div class="layui-input-inline">
      <input type="text" name="params" id="jsf-params" value="{$id ?= $info['params']}" placeholder="" class="layui-input">
    </div>
    <div class="layui-form-mid layui-word-aux">k=>v&k2=>v2形式</div>
  </div>
  <div class="layui-form-item">
    <label for="" class="layui-form-label">{$jsf.hide}</label>
    <div class="layui-input-inline">
      <input type="checkbox" name="hide" id="jsf-hide" lay-skin="switch" value="0" {$info.hide ? '' : 'checked'} >
    </div>
    <div class="layui-form-mid tooltip" data-text="是否对用户隐藏,超管无效,一般开发用" data-type="3"><i class="fa fa-bell"></i></div>
  </div>
  <div class="layui-form-item">
    <label for="jsf-desc" class="layui-form-label">{$jsf.desc}</label>
    <div class="layui-input-inline  input-long">
      <textarea name="desc" id="jsf-desc" placeholder="菜单描述" class="layui-textarea">{$id ?= $info['desc']}</textarea>
    </div>
  </div>
  <div class="layui-form-item">
    <label for="jsf-sort" class="layui-form-label">{$jsf.sort}</label>
    <div class="layui-input-inline">
      <input type="number" min="0" name="sort" id="jsf-sort" value="{$id ?= $info['sort']}" placeholder="" class="layui-input">
    </div>
    <div class="layui-form-mid layui-word-aux">越小越靠前</div>
  </div>

  <div class="layui-form-item layui-input-block">
    <button target-form="post-form" class="layui-btn ajax-post" href="{:url(CONTROLLER_NAME.'/set',['id'=>$id,'super'=>$super])}" >{$op ?: ''}</button>
    {$html_return|raw}
  </div>
</form>

<div id="icon-select" style="display:none;padding:10px;">
  <div id="icon-search layui-form">
    <div class="layui-form-item">
      <label for="icon-class" class="layui-form-label" style="text-align:left;border:1px solid #ddd;">搜索图标</label>
      <div class="layui-input-inline">
        <input type="text" name="icon-class" id="icon-class" value="" class="layui-input" placeholder="例如: 输入 home 或 user"  autocomplete="off" required  lay-verify="required" >
      </div>
    </div>
  </div>
  <div class="layui-tab">
    <ul class="layui-tab-title">
      <li class="layui-this">font awesome</li>
      <li>glyphicons</li>
    </ul>
    <div class="layui-tab-content" style="padding:10px 0;">
      <div class="layui-tab-item layui-show">
        <ul>
          <li title="fa-file"><i class="fa fa-tw fa-file"></i></li>
          <li title="fa-lock"><i class="fa fa-tw fa-lock"></i></li>
          <li title="fa-bell"><i class="fa fa-tw fa-bell"></i></li>
          <li title="fa-close"><i class="fa fa-tw fa-close"></i></li>
        </ul>
      </div>
      <div class="layui-tab-item">
        <ul>
        </ul>
      </div>
    </div>
  </div>
</div>
{/block}

{block name="area_foot"}
<script>
// page init
layui.use(['rb','form','element'], function(){
  var layer = layui.layer,
  form = layui.form,
  element = layui.element,
  rb = layui.rb,
  $ = layui.$;

  var index;
  $('#jsf-icon').click(function(e) {
    index = layer.open({
      title:"<h3>选择图标</h3>",
      type:1,
      // closeBtn:0,
      area:["600px","500px"],
      shadeClose:true,
      content:$("#icon-select"),
    });
  });

  $('#icon-select .layui-tab-item li').click(function(e) {
    var icon = 'fa fa-tw '+$(this).attr('title');
    $('#jsf-icon').val(icon);
    layer.close(index);
  });
  rb.log('page','init');
});
</script>
{/block}