{extend name="df/tpl/base" /}

{block name="area_head"}
{/block}

{block name="area_body"}
<div class="page-header">
  <div class="page-title"><i></i>
    菜单{$op ?: ''}
  </div>
</div>
<form class="layui-form layui-form-pane post-form">
  <div class="layui-form-item">
    <label for="jsf-name" class="layui-form-label">{$jsf.name}</label>
    <div class="layui-input-inline">
      <input type="text" name="name" id="jsf-name" value="{$id ?= $info['name']}" class="layui-input" placeholder="请输入标题"  autocomplete="off" required  lay-verify="required" >
    </div>
    <div class="layui-form-mid layui-word-aux">32字以内</div>
  </div>
  <div class="layui-form-item">
    <label for="jsf-parent" class="layui-form-label">{$jsf.parent}</label>
    <div class="layui-input-inline ">
      <select name="parent" id="jsf-parent">
        <option value="0" {eq name="parent" value="0"} selected {/eq}> = 顶级 = </option>
        {volist name="menu" id="v"}
        <option value="{$v.id}" {eq name="v.id" value="$parent"} selected {/eq}>{$v.name}</option>
        {volist name="v.child" id="v2"}
          <option value="{$v2.id}" {eq name="v2.id" value="$parent"} selected {/eq}>|_ {$v2.name}</option>
        {/volist}
        {/volist}
      </select>
    </div>
    <div class="layui-form-mid layui-word-aux">有下级菜单时不许修改</div>
  </div>
  <div class="layui-form-item">
    <label for="jsf-url" class="layui-form-label">{$jsf.url}</label>
    <div class="layui-input-inline  input-long">
      <input type="text" name="url" id="jsf-url" value="{$id ?= $info['url']}" class="layui-input">
    </div>
    <div class="layui-form-mid tooltip" data-text="菜单链接,url('')参数 或 http地址" data-type="3"><i class="fa fa-bell"></i></div>
  </div>
  <div class="layui-form-item">
    <label for="jsf-icon" class="layui-form-label">{$jsf.icon}</label>
    <div class="layui-input-inline">
      <input type="text" name="icon" id="jsf-icon" value="{$id ?= $info['icon']}" placeholder="" class="layui-input">
    </div>
    <div class="layui-form-mid layui-word-aux">图标库class</div>
  </div>
  <div class="layui-form-item">
    <label for="jsf-params" class="layui-form-label">{$jsf.params}</label>
    <div class="layui-input-inline">
      <input type="text" name="params" id="jsf-params" value="{$id ?= $info['params']}" placeholder="" class="layui-input">
    </div>
    <div class="layui-form-mid layui-word-aux">k=>v&k2=>v2形式</div>
  </div>
  <div class="layui-form-item">
    <label for="" class="layui-form-label">{$jsf.hide}</label>
    <div class="layui-input-inline">
      <input type="checkbox" name="hide" id="jsf-hide" lay-skin="switch" value="0" {$info.hide ? '' : 'checked'} >
    </div>
    <div class="layui-form-mid tooltip" data-text="是否对用户隐藏,超管无效,一般开发用" data-type="3"><i class="fa fa-bell"></i></div>
  </div>
  <div class="layui-form-item">
    <label for="jsf-desc" class="layui-form-label">{$jsf.desc}</label>
    <div class="layui-input-inline  input-long">
      <textarea name="desc" id="jsf-desc" placeholder="菜单描述" class="layui-textarea">{$id ?= $info['desc']}</textarea>
    </div>
  </div>
  <div class="layui-form-item">
    <label for="jsf-sort" class="layui-form-label">{$jsf.sort}</label>
    <div class="layui-input-inline">
      <input type="number" min="0" name="sort" id="jsf-sort" value="{$id ?= $info['sort']}" placeholder="" class="layui-input">
    </div>
    <div class="layui-form-mid layui-word-aux">越小越靠前</div>
  </div>

  <div class="layui-form-item layui-input-block">
    <button target-form="post-form" class="layui-btn ajax-post" href="{:url(CONTROLLER_NAME.'/set',['id'=>$id,'super'=>$super])}" >{$op ?: ''}</button>
    {$html_return|raw}
  </div>
</form>
{/block}

{block name="area_foot"}
<script>
// page init
layui.use(['rb','form'], function(){
  var layer = layui.layer,
  form = layui.form,
  rb = layui.rb,
  $ = layui.$;

  rb.log('page','init');
});
</script>
{/block}