{extend name="template/base_default"}
{block name="header"}
<link rel="stylesheet" href="__CSS__/common.css">
<link rel="stylesheet" href="__CSS__/my_income/style.css">
{/block}
{block name="body"}
{volist name='info' id='vo'}
<div class="my-income-item">
    {if condition = '$vo.type == 2'}
    <div class="my-income-item-a">任务类型：存货</div>
    {else/}
    <div class="my-income-item-b">任务类型：升级</div>
    {/if}
    <div class="my-income-item-b">任务结束时间:{$vo.create_time|date="Y-m-d H:m",###}</div>
    {if condition = '$vo.type != 2'}
        {if condition = '$vo.group_id == 2'}
            <div class="my-income-item-b">需要等级：健康精英</div>
        {elseif condition = '$vo.group_id == 3'/}
            <div class="my-income-item-b">需要等级：健康领袖</div>
        {/if}
    {/if}
    <div class="my-income-item-b">需要库存积分：{$vo.stock/100}</div>
</div>
{/volist}
{empty name='info'}
<div class="my-income-empty">暂时没有任务~</div>
{/empty}
{/block}
{block name="footer"}
<script type="text/javascript" src="__JS__/public.js"></script>
<script>

</script>
{/block}