<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <title>WebSocket Test</title>
</head>
<body>
  <h2>rainbowPhp install module</h2>
  <form action="{:url('install/index/install')}">
    <div id="modules">
      <input type="checkbox" name="mid[]" id="1" checked>系统
      <input type="checkbox" name="mid[]" id="3" checked>用户
      <input type="checkbox" name="mid[]" id="2" checked>后台
    </div>
    <div id="output">
      // check result
      // db form
      // super admin
    </div>
  </form>

<script>


</script>
</body>
</html>