{extend name="default/template/base_index" /}

{block name="area_header"}

{/block}

{block name="area_body"}
	{include file="default/Widget/topbar" /}
	<div class="admin-main container-fluid">
		{include file="default/Widget/left" /}
		<div class="admin-main-content">
			{include file="default/Widget/breadcrumb" /}
			<div class="table-responsive well">
	<!-- 过滤\查询按钮 -->
	<div class="filter-controls">
		<form action="{:url('Customer/index')}" class="memberForm form-inline" method="post">
			<div class="form-group">
				<label class="control-label">用户昵称或ID</label>
				<div class="input-group">
						<input class="form-control" type="text" name="nickname" placeholder="请输入用户昵称或用户ID" />
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">&nbsp;</label>
				<div class="input-group">
					<button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-search"></i>查询</button>
				</div>
			</div>
		</form>
	</div>
	<!-- 操作按钮 -->
	<div class="btn-controls">
		<a href="{:url('Customer/pushMessageAll',array('pushAll'=>true))}" class="btn btn-primary btn-sm"><i class="fa fa-envelope-o"></i> 发送公告</a>

	<table class="table table-striped table table-hover  table-condensed">
		<thead>
			<tr>
				<th>
					UID
				</th>
				<th>
					昵称
				</th>
				<th>
					积分
				</th>
				<th>
					登录次数
				</th>
				<th>
					{:L('OPERATOR')}
				</th>
			</tr>
		</thead>
		<tbody>
			{empty name="list"}
				<tr>
					<td colspan="8" class="text-center">{:L('NO_DATA')}</td>
				</tr>
				{else/}
				{volist name="list" id="vo"}
					<tr>
						<td>
							{$vo.id}</td>
						<td>
                            <a href="{:url('CustomerInfo/index',array('id'=>$vo['id']))}">{$vo.nickname|default='未知昵称'}</a></td>
						<td>
							{$vo.score}</td>
						<td>
							{$vo.login}</td>

						<td>
							<a href="{:url('Customer/pushMessage',array('uid'=>$vo['id']))}" class="btn btn-primary btn-sm"><i class="fa fa-envelope-o"></i> {:L('BTN_SEND_MESSAGE')}</a>
							<a href="{:url('Message/index',array('uid'=>$vo['id']))}" class="btn btn-default btn-sm">{:L('BTN_VIEW_HIS')}</a>
						</td>
					</tr>

				{/volist}
			{/empty}
		</tbody>
	</table>
	<div>{$show}</div>
</div>
		</div>
		<!-- END admin-main-content -->
	</div>
		<!-- END admin-main-->
{/block}

{block name="area_footer"}

{/block}
