{include file="df/tpl/base_frame_head" /}
<!--script async src="< ?=$js?>stat.js">统计代码 anync / 放在最后 </script-->
<!--[if lt IE 9]>
<script type="text/javascript" src="__CDN__/respond/1.4.2/respond.min.js"></script>
<![endif]-->
{block name="area_head"}
<style>
.layui-tab-content {
  background: url('__IMG__/bg.png') center center no-repeat;
}
.theme-wrap{  }
.theme-wrap>div{ display: inline-block;width: 50px;height: 40px;cursor: pointer;margin: 1px 2px 1px; }
.theme-wrap>.theme{ border-color: transparent !important;border-radius: 5px;transition: all .5; }
</style>
  <!--顶部区域 -->
{/block}
</head>
<body>
<div class="layui-layout layui-layout-admin" >
  <div class="layui-logo hvr-pop js-tab" data-href="{:url('manager/welcome')}" data-tab="0" title="欢迎页"> RainbowPhp </div>
  <!-- 头部区域 -->
  <div class="layui-header">
    <div class="header-left">
      <a href="javascript:;" id="js-hide-menu" class="switch-menu-wrap" title="转换侧边栏"><i class="fa fa-bars"></i></a>
      <!-- 显示/隐藏菜单 -->
      <a href="javascript:;" class="iconfont hideMenu icon-menu1">
      </a>
      <!-- 搜索 -->
      <!-- <div class="layui-form component">
            <select name="modules" lay-verify="required" lay-search="">
            <option value="">直接选择或搜索选择</option>
             <option value="1">layer</option>
            </select>
            <i class="layui-icon">&#xe615;</i>
        </div> -->

      <ul class="layui-nav layui-layout-left">
        <!--?php foreach ($menu_all as $v) { ?>
        <li class="hvr-pulse layui-nav-item < ?php if($top_menu_id== $v['id']) echo 'layui-this';?>" data-id="< ?=$v['id']?>"><a href="javascript:;">< ?=$v['name']?></a></li>
        < ?php }?-->
      </ul>
    </div>
    <ul class="layui-nav layui-layout-right header-mid">
      <li class="layui-nav-item">
        <a href="{:url('user/detail',['id'=>$uinfo.id])}" class="js-tab" data-tab="userd-{$uinfo.id}">
          <img src="{:avaUrl($uinfo.id,60)}" class="layui-nav-img" >
          {$uinfo.nick}
        </a>
        <dl class="layui-nav-child">
          <dd><a href="{:url('user/detail',['id'=>$uinfo.id])}" class="js-tab" data-tab="userd-{$uinfo.id}">基本资料</a></dd>
          <dd><a href="javascript:void(0);" class="js-set-theme" data-theme="{$uinfo.theme}">风格设置</a></dd>
          <hr>
          <dd><a href="javascript:void(0);" class="js-tab" data-tab="users-{$uinfo.id}">系统设置</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item hvr-push"><a href="javascript:;" class=""> <i class="fa fa-bell" style=""></i><i class="layui-badge">5</i> </a></li>
    </ul>
    <ul class="layui-nav layui-layout-right header-right">
      <li class="layui-nav-item"><a href="{:url('manager/logout')}" class="ajax-get pr10 layer-msg js-logout" title="退出"> <i class="fa fa-sign-out"></i></a></li>
      <li class="layui-nav-item"><a href="javascript:;" class="pl10 pr10 js-refresh" title="刷新"> <i class="fa fa-refresh layui-anim layui-anim-rotate layui-anim-loop"></i></a></li>
      <li class="layui-nav-item">
        <a href="javascript:;" class="pl10 pr10" id="admin-fullscreen" title="全屏"><i class="fa fa-arrows-alt"></i> <span class="admin-fullText"></span> </a>
      </li>
    </ul>
  </div>

  <!-- 左侧导航区域 -->
  <div class="layui-side side-menu">
    <div class="layui-side-scroll">
      <ul class="layui-nav layui-nav-tree layui-nav-side" lay-filter="side-menu" lay-shrink="">
        <!--?php foreach ($left_menu as $v) { ?>
        <li class="layui-nav-item layui-nav-itemed">
          <a class="" href="javascript:;"><i class="layui-icon">&#xe620;</i> < ?=$v['name']?></a>
          < ?php if (isset($v['child'])){ ?>
          <dl class="layui-nav-child">
            < ?php foreach ($v['child'] as $v2) { ?>
            <dd class="hvr-shrink  < ?php if($v2['id'] == $menu_id) echo 'layui-this'; ?>"><a href="< ?=$v2['url']?>" data-id="< ?=$v2['id']?>">&nbsp;&nbsp;&nbsp;&nbsp;< ?=$v2['name']?></a></dd>
            < ?php } ?>
          </dl>
          < ?php } ?>
        </li>
        < ?php } ?-->
      </ul>
    </div>
  </div>
  <!-- 内容主体 -->
  <div class="layui-body layui-tab" lay-filter="mainTab" lay-allowClose="true" id="mainTab">
    <ul class="layui-tab-title" style="position: relative;
    left: 0;top: 0px; ">
      <!-- <li lay-id="iframe0"><i class="fa fa-desktop"></i></li> -->
    </ul>
    <div class="layui-tab-content" style="position: absolute;left: 0;top: 32px;">
      <!-- <div class="layui-tab-item">
        <iframe id="iframe0" src="{:url('manager/welcome')}" frameborder="0" style="width:100%;height:100%;"></iframe>
      </div> -->
    </div>
    <!-- 底部固定区域 -->
    <div class="layui-footer  layui-anim layui-anim-up">
      <div>Just be simple and elegant ! ____ rainbow ( 977746075@qq.com )  © rainbowPHP{:config('is_debug') ? '[测试]' : ''}</div>
      <div class="layui-layout-right layui-nav-item weather" pc>
        <div id="tp-weather-widget"><!-- 天气信息 --></div>
        <script>(function(T,h,i,n,k,P,a,g,e){g=function(){P=h.createElement(i);a=h.getElementsByTagName(i)[0];P.src=k;P.charset="utf-8";P.async=1;a.parentNode.insertBefore(P,a)};T["ThinkPageWeatherWidgetObject"]=n;T[n]||(T[n]=function(){(T[n].q=T[n].q||[]).push(arguments)});T[n].l=+new Date();if(T.attachEvent){T.attachEvent("onload",g)}else{T.addEventListener("load",g,false)}}(window,document,"script","tpwidget","//widget.seniverse.com/widget/chameleon.js"))</script>
        <script>tpwidget("init", {
            "flavor": "slim",
            "location": "WX4FBXXFKE4F",
            "geolocation": "enabled",
            "language": "zh-chs",
            "unit": "c",
            "theme": "chameleon",
            "container": "tp-weather-widget",
            "bubble": "disabled",
            "alarmType": "badge",
            "color": "#FFFFFF",
            "uid": "U9EC08A15F",
            "hash": "039da28f5581f4bcb5c799fb4cdfb673"
        });tpwidget("show");</script>
      </div>
    </div>
  </div>
</div>
<!-- script -->
<script>
var initTabs  = [];
layui.cache.tab_welcome = {
  title:'<i class="fa fa-desktop"></i>',
  content:'<iframe id="iframe0" src="{:url('manager/welcome')}" frameborder="0" style="width:100%;height:100%;"></iframe>',
  id:'iframe0'
}
var themes = {
  'df'  : '#23262e',
  'blue': '#29d',
  'cyan':'#6f7c85',
  'gray':'#eee',
  'green' :'#009688',
  'orange':'#FFB800',
  'red':'#ff5722',
};
// var winWidth = $(window).width();
// var heiHeght = $(window).height();
// page init
layui.use(['rb','element','tabrightmenu'], function(){
  var layer = layui.layer,
  rb = layui.rb,
  el = layui.element,
  $ = layui.$;

  rb.log('frame','init');

  var menus = JSON.parse('{$menu_json|raw}')
  ,site = "{:config('site_url')}";

  rb.tabChangeTop(0);
  // 删除tab 更新 id
  el.on('tabDelete(mainTab)', function(data){
    initTabs.remove($(this).parent().attr('lay-id'));
  });
  // console.log(menus);
  if(!$.isEmptyObject(menus)){
    var html = '',k,item,menu,id;
    // 组装顶部菜单

    $.each(menus, function(k, item) {
    // for (k in menus) {
      // item = menus[k];
      html = html
      +'<li class="hvr-pulse layui-nav-item " data-id="'+item.id+'">'
      +' <a href="javascript:;">'+item.name+'</a>'
      +'</li>';
    // };
    });
    if(html){
      $('.layui-layout-left').html(html).children('.layui-nav-item').on('click',function(e){
        e.preventDefault();
        id = $(this).index();
        // 保存上次点击的顶部菜单id
        rb.local('last_top_menu',parseInt($(this).data('id')));
        // _menu_ids[mid] = 0;
        // rb.local('menu_ids',_menu_ids);
        //组装左边菜单
        html = '';
        var _menu_id = rb.local('menu_id');
        // for (k in menus[id]['child']){
        $.each(menus[id]['child'], function(k, item) {
          // item = menus[id]['child'][k];
          html = html
          +'<li class="layui-nav-item layui-nav-itemed">'
          +'  <a class="" href="javascript:;"><i class="'+item.icon+'"></i> '+item.name +'</a>';
          if(item.child){
            html = html
            +'   <dl class="layui-nav-child">';
            $.each(item.child,function(k2,item2) {
            // for(k2 in item.child){
              // item2 = item.child[k2];
            html = html
            +'    <dd class="hvr-shrink '+ (item2.id == _menu_id ? 'layui-this' : '') +'"><a href="'+item2.url+'" data-id="'+item2.id+'">&nbsp;&nbsp;&nbsp;&nbsp;'+item2.name+'</a></dd>';
            // }
            });
            html = html
            +'  </dl>';
          }
          html = html
          +'</li>';
        // }
        });
        // if(html){
          $('.layui-nav-tree.layui-nav-side').html(html);
          el.render('nav');
          $('.layui-nav-tree.layui-nav-side').on('click','dd', function(e) {
            e.preventDefault();
            $this = $(this);
            var $a = $this.children('a');
            var id = $a.data('id');
            // 保存上次点击的左边菜单id
            var _menu_ids    = rb.local('menu_ids');
            var _top_menu_id = rb.local('last_top_menu');
            if(_top_menu_id){
              _menu_ids[_top_menu_id] = id;
              rb.local('menu_ids',_menu_ids);
            }
            var ops = {
              title : $this.parent().prev('a').children('i').prop("outerHTML")+$a.html().replace(/&nbsp;/g, "")
              //+'<i class="layui-icon layui-unselect layui-tab-close">ဆ</i>'
              ,content: rb.getTabIframe(id,$a.attr('href'))
            }
            rb.tabChangeTop(id,ops);
          });
        // }
      }).filter('[data-id='+rb.local('last_top_menu')+']').addClass('layui-this').trigger('click');
    }
  }

  // 获取scrollbar 宽度
  var sbw = rb.getScrollbarWidth();
  $('.layui-layout-admin>.layui-body').css('left','-='+sbw);
  $('.layui-layout-admin>.layui-header>.header-left').css('margin-left','-='+sbw);
  $('.layui-layout-admin>.layui-logo').css('width','-='+sbw);

  // 不写 关闭结构 自动绑定事件
  // $('.layui-tab').on('click','.layui-tab-close',function(){
  //   el.tabDelete('mainTab', $(this).parent().attr('lay-id'));
  // })

  // 自动记忆上次的每个大菜单的小菜单
  var menu_id  = rb.local('menu_id');
  var menu_ids = rb.local('menu_ids');
  if(!menu_id && menu_ids){
    menu_id = menu_ids[rb.local('last_top_menu')] || 0;
  }
  if(menu_id){
    $('.layui-nav-tree dd a[data-id='+menu_id+']').click();
  }else{
    rb.tabChangeTop(0);
  }


  // tab 右键菜单
  var tabMenu = layui.tabrightmenu;
  // 默认方式渲染全部：关闭当前（closethis）、关闭所有（closeall）、关闭其它（closeothers）、关闭左侧所有（closeleft）、关闭右侧所有（closeright）、刷新当前页（refresh）
  tabMenu.render({
    container: '#mainTab'
    ,filter: 'mainTab'
    // navArr：对象数组，每个对象包含dataType、title、method属性
    ,navArr: [
      { eventName: 'refresh', title: '刷新' },
      // { eventName: 'closethis', title: '关闭' },
      // { eventName: 'closeothers', title: '关闭其他' }
      { title: "关闭", eventName: 'closeThisTab' },
      { title: "关闭其他", eventName: 'closeOtherTab' },
    ]
    ,width:100
    // 注册自定义事件
    ,registMethod: { 'closeThisTab':closeThisTab,'closeOtherTab':closeOtherTab }
  });
  function closeThisTab(id, title, currentNavGroup, dom) {
    initTabs.remove(id);
    el.tabDelete('mainTab', id);
  }
  function closeOtherTab(id, title, currentNavGroup, dom) {
    var temp = initTabs.concat();
    $.each(temp,function(i, ele) {
      if(ele != id){
        initTabs.remove(ele);
        el.tabDelete('mainTab', ele);
      }
    });
  }
  $('.js-set-theme').click(function() {
    var $this = $(this);
    var theme = $this.data('theme') || 'df';
    var html = '<div class="theme-wrap">';
    var temp = 0;
    $.each(themes,function(i, ele) {
      html += '<div class="'+(i == theme ? 'theme' : '')+'" data-theme="'+ i + '" style="background-color:'+ele+';border:solid 2px '+ ele+';" title="'+i+'"></div>';
      temp ++ ;
      if(0 === temp%4) html +=  '<br />';
    });
    html +='</div>';
    var layi = layer.open({
      // skin: 'layui-layer-lan',
      offset: '50px',
      btn : "保存",
      title: "主题选择",
      anim: 5,
      shadeClose:true,
      content: html,
      yes: function (){ //保存
        var theme = $('.theme-wrap>.theme').data('theme');
        $.post("{:url('user/editOne',['id'=>UID,'field'=>'theme'])}",{
          val : theme
        },function(data){
          // 设置用户的风格
          rb.ajaxTip(data);
        });
      },
      error : function(err){
        rb.msg('服务器异常',5);
      }
    });
  });
  $('body').on('click','.theme-wrap>div',function(e){
    var $this = $(this);
    var theme = $this.data('theme');
    $this.addClass('theme').siblings().removeClass('theme');
    var css =  '__SKIN__css/skin/'+theme+'.css?v='+layui.rb.gettime('','int');
    $('#style-color').attr('href',css);
    // 加载 css //+ rb.gettime('','int')
    // layui.link(css);
  });
});
</script>
</body>
</html>