{include file="df/tpl/common_lib"}
  <base href="{:config('site_url')}/" />
  <title> {$seo.title ?? L('TITLE')}-{:config('site_title')}  {:config('is_debug') ? '[测试]' : ''} </title>
  <meta name="keywords" content="{$seo.keywords|default=' '}" />
  <meta name="description" content="{$seo.description|default=' '}" />
  <meta name="author" content="{$cfg.owner|default=' rainbow '}" />
  {if condition ="config('is_debug')" }
  <link rel="stylesheet" id="style-color" href="__SKIN__css/skin.css?v=__VERSION__" media="all">
  {else /}
  <link rel="stylesheet" id="style-color" href="__SKIN__css/skin/{$uinfo.theme|default='df'}.css?v=__VERSION__" media="all">
  {/if}
  {include file="df/tpl/layui_config"}