<!DOCTYPE html>
<html lang="zh_cn">
<head>
  <base href="{:config('site_url')}/" />
  <title> {$seo.title ?? L('TITLE')}-{:config('site_title')} {:config('is_debug') ? '[测试]' : ''}</title>
  <meta name="keywords" content="{$seo.keywords|default=' '}" />
  <meta name="description" content="{$seo.description|default=' '}" />
  <meta name="author" content="{$cfg.owner|default=' rainbow '}" />

  {include file="df/tpl/common_lib"}
  {if condition ="config('is_debug')" }
  <link rel="stylesheet" id="style-color" href="__SKIN__css/skin.css?v=__VERSION__" media="all">
  {else /}
  <link rel="stylesheet" id="style-color" href="__SKIN__css/skin/{$uinfo.theme|default='df'}.css?v=__VERSION__" media="all">
  {/if}
  {include file="df/tpl/layui_config"}
  <script>
  var last_top_menu = {$top_menu_id ?? '0'} || 0;
  if(!last_top_menu) last_top_menu = local('last_top_menu') || 0;
  var menu_id = {$menu_id ?? '0'} || 0;
  var menu_ids = local('menu_ids') || {};
  // menu_ids = 'object' == typeof menu_ids ? menu_ids : {};
  if(last_top_menu && menu_id){
    menu_ids[last_top_menu] = menu_id;
    local('menu_ids',menu_ids);
  }
  local('last_top_menu',last_top_menu);
  local('menu_id',menu_id);
  function local(key=''){ // localStorage存/取
    return ('undefined' != typeof arguments[1]) ? localStorage.setItem(key,JSON.stringify(arguments[1])) : JSON.parse(localStorage.getItem(key));
  }
  </script>