<style>
.layui-tab-item{ }
.layui-tab-item li{ display: table-cell;border:1px solid #fee;padding: 8px;margin:1px;font-size: 1.4em;float: left; }
.layui-tab-item i{ }
#icon-select{
  display:none;padding:10px;
}
#icon-select .hide{ display: none; }
#icon-select .icon-search label{
  text-align:left;border:1px solid #ddd;
}
#icon-select .layui-tab-content{
  padding:10px 0;
}
#icon-select .layui-tab-content li{
  cursor: pointer;width: 20px;
}
#icon-select .layui-tab-content li:hover{
  border-color: #aaa;
}
</style>
<div id="icon-select">
  <div id="icon-search layui-form">
    <div class="layui-form-item">
      <label for="icon-class" class="layui-form-label">搜索图标</label>
      <div class="layui-input-inline">
        <input type="text" name="icon-class" id="js-icon-search" value="" class="layui-input" placeholder="例如: 输入 home"  autocomplete="off" required  lay-verify="required" >
      </div>
    </div>
  </div>
  <div class="layui-tab layui-tab-brief">
    <ul class="layui-tab-title">
      <li class="layui-this">layui(140)</li>
      <li>font-awesome(119)</li>
    </ul>
    <div class="layui-tab-content">
      <div class="layui-tab-item layui-show">
        <!-- layui2.4.5(140) -->
        <ul class="layui-clear">
          <li title="rate-half">
            <i class="layui-icon layui-icon-rate-half"></i></li>
          <li title="rate">
            <i class="layui-icon layui-icon-rate"></i></li>
          <li title="rate-solid">
            <i class="layui-icon layui-icon-rate-solid"></i></li>
          <li title="cellphone">
            <i class="layui-icon layui-icon-cellphone"></i></li>
          <li title="vercode">
            <i class="layui-icon layui-icon-vercode"></i></li>
          <li title="login-wechat">
            <i class="layui-icon layui-icon-login-wechat"></i></li>
          <li title="login-qq">
            <i class="layui-icon layui-icon-login-qq"></i></li>
          <li title="login-weibo">
            <i class="layui-icon layui-icon-login-weibo"></i></li>
          <li title="password">
            <i class="layui-icon layui-icon-password"></i></li>
          <li title="username">
            <i class="layui-icon layui-icon-username"></i></li>
          <li title="refresh-3">
            <i class="layui-icon layui-icon-refresh-3"></i></li>
          <li title="auz">
            <i class="layui-icon layui-icon-auz"></i></li>
          <li title="spread-left">
            <i class="layui-icon layui-icon-spread-left"></i></li>
          <li title="shrink-right">
            <i class="layui-icon layui-icon-shrink-right"></i></li>
          <li title="snowflake">
            <i class="layui-icon layui-icon-snowflake"></i></li>
          <li title="tips">
            <i class="layui-icon layui-icon-tips"></i></li>
          <li title="note">
            <i class="layui-icon layui-icon-note"></i></li>
          <li title="home">
            <i class="layui-icon layui-icon-home"></i></li>
          <li title="senior">
            <i class="layui-icon layui-icon-senior"></i></li>
          <li title="refresh">
            <i class="layui-icon layui-icon-refresh"></i></li>
          <li title="refresh-1">
            <i class="layui-icon layui-icon-refresh-1"></i></li>
          <li title="flag">
            <i class="layui-icon layui-icon-flag"></i></li>
          <li title="theme">
            <i class="layui-icon layui-icon-theme"></i></li>
          <li title="notice">
            <i class="layui-icon layui-icon-notice"></i></li>
          <li title="website">
            <i class="layui-icon layui-icon-website"></i></li>
          <li title="console">
            <i class="layui-icon layui-icon-console"></i></li>
          <li title="face-surprised">
            <i class="layui-icon layui-icon-face-surprised"></i></li>
          <li title="set">
            <i class="layui-icon layui-icon-set"></i></li>
          <li title="template-1">
            <i class="layui-icon layui-icon-template-1"></i></li>
          <li title="app">
            <i class="layui-icon layui-icon-app"></i></li>
          <li title="template">
            <i class="layui-icon layui-icon-template"></i></li>
          <li title="praise">
            <i class="layui-icon layui-icon-praise"></i></li>
          <li title="tread">
            <i class="layui-icon layui-icon-tread"></i></li>
          <li title="male">
            <i class="layui-icon layui-icon-male"></i></li>
          <li title="female">
            <i class="layui-icon layui-icon-female"></i></li>
          <li title="camera">
            <i class="layui-icon layui-icon-camera"></i></li>
          <li title="camera-fill">
            <i class="layui-icon layui-icon-camera-fill"></i></li>
          <li title="more">
            <i class="layui-icon layui-icon-more"></i></li>
          <li title="more-vertical">
            <i class="layui-icon layui-icon-more-vertical"></i></li>
          <li title="rmb">
            <i class="layui-icon layui-icon-rmb"></i></li>
          <li title="dollar">
            <i class="layui-icon layui-icon-dollar"></i></li>
          <li title="diamond">
            <i class="layui-icon layui-icon-diamond"></i></li>
          <li title="fire">
            <i class="layui-icon layui-icon-fire"></i></li>
          <li title="return">
            <i class="layui-icon layui-icon-return"></i></li>
          <li title="location">
            <i class="layui-icon layui-icon-location"></i></li>
          <li title="read">
            <i class="layui-icon layui-icon-read"></i></li>
          <li title="survey">
            <i class="layui-icon layui-icon-survey"></i></li>
          <li title="face-smile">
            <i class="layui-icon layui-icon-face-smile"></i></li>
          <li title="face-cry">
            <i class="layui-icon layui-icon-face-cry"></i></li>
          <li title="cart-simple">
            <i class="layui-icon layui-icon-cart-simple"></i></li>
          <li title="cart">
            <i class="layui-icon layui-icon-cart"></i></li>
          <li title="next">
            <i class="layui-icon layui-icon-next"></i></li>
          <li title="prev">
            <i class="layui-icon layui-icon-prev"></i></li>
          <li title="upload-drag">
            <i class="layui-icon layui-icon-upload-drag"></i></li>
          <li title="upload">
            <i class="layui-icon layui-icon-upload"></i></li>
          <li title="download-circle">
            <i class="layui-icon layui-icon-download-circle"></i></li>
          <li title="component">
            <i class="layui-icon layui-icon-component"></i></li>
          <li title="file-b">
            <i class="layui-icon layui-icon-file-b"></i></li>
          <li title="user">
            <i class="layui-icon layui-icon-user"></i></li>
          <li title="find-fill">
            <i class="layui-icon layui-icon-find-fill"></i></li>
          <li title="loading">
            <i class="layui-icon layui-icon-loading layui-anim layui-anim-rotate layui-anim-loop"></i></li>
          <li title="loading-1 ">
            <i class="layui-icon layui-icon-loading-1 layui-anim layui-anim-rotate layui-anim-loop"></i></li>
          <li title="add-1">
            <i class="layui-icon layui-icon-add-1"></i></li>
          <li title="play">
            <i class="layui-icon layui-icon-play"></i></li>
          <li title="pause">
            <i class="layui-icon layui-icon-pause"></i></li>
          <li title="headset">
            <i class="layui-icon layui-icon-headset"></i></li>
          <li title="video">
            <i class="layui-icon layui-icon-video"></i></li>
          <li title="voice">
            <i class="layui-icon layui-icon-voice"></i></li>
          <li title="speaker">
            <i class="layui-icon layui-icon-speaker"></i></li>
          <li title="fonts-del">
            <i class="layui-icon layui-icon-fonts-del"></i></li>
          <li title="fonts-code">
            <i class="layui-icon layui-icon-fonts-code"></i></li>
          <li title="fonts-html">
            <i class="layui-icon layui-icon-fonts-html"></i></li>
          <li title="fonts-strong">
            <i class="layui-icon layui-icon-fonts-strong"></i></li>
          <li title="unlink">
            <i class="layui-icon layui-icon-unlink"></i></li>
          <li title="picture">
            <i class="layui-icon layui-icon-picture"></i></li>
          <li title="link">
            <i class="layui-icon layui-icon-link"></i></li>
          <li title="face-smile-b">
            <i class="layui-icon layui-icon-face-smile-b"></i></li>
          <li title="align-left">
            <i class="layui-icon layui-icon-align-left"></i></li>
          <li title="align-right">
            <i class="layui-icon layui-icon-align-right"></i></li>
          <li title="align-center">
            <i class="layui-icon layui-icon-align-center"></i></li>
          <li title="fonts-u">
            <i class="layui-icon layui-icon-fonts-u"></i></li>
          <li title="fonts-i">
            <i class="layui-icon layui-icon-fonts-i"></i></li>
          <li title="tabs">
            <i class="layui-icon layui-icon-tabs"></i></li>
          <li title="radio">
            <i class="layui-icon layui-icon-radio"></i></li>
          <li title="circle">
            <i class="layui-icon layui-icon-circle"></i></li>
          <li title="edit">
            <i class="layui-icon layui-icon-edit"></i></li>
          <li title="share">
            <i class="layui-icon layui-icon-share"></i></li>
          <li title="delete">
            <i class="layui-icon layui-icon-delete"></i></li>
          <li title="form">
            <i class="layui-icon layui-icon-form"></i></li>
          <li title="cellphone-fine">
            <i class="layui-icon layui-icon-cellphone-fine"></i></li>
          <li title="dialogue">
            <i class="layui-icon layui-icon-dialogue"></i></li>


          <li title="fonts-clear">
            <i class="layui-icon layui-icon-fonts-clear"></i></li>
          <li title="layer">
            <i class="layui-icon layui-icon-layer"></i></li>
          <li title="date">
            <i class="layui-icon layui-icon-date"></i></li>
          <li title="water">
            <i class="layui-icon layui-icon-water"></i></li>
          <li title="code-circle">
            <i class="layui-icon layui-icon-code-circle"></i></li>
          <li title="carousel">
            <i class="layui-icon layui-icon-carousel"></i></li>
          <li title="prev-circle">
            <i class="layui-icon layui-icon-prev-circle"></i></li>
          <li title="layouts">
            <i class="layui-icon layui-icon-layouts"></i></li>
          <li title="util">
            <i class="layui-icon layui-icon-util"></i></li>
          <li title="templeate-1">
            <i class="layui-icon layui-icon-templeate-1"></i></li>
          <li title="upload-circle">
            <i class="layui-icon layui-icon-upload-circle"></i></li>
          <li title="tree">
            <i class="layui-icon layui-icon-tree"></i></li>
          <li title="table">
            <i class="layui-icon layui-icon-table"></i></li>
          <li title="chart">
            <i class="layui-icon layui-icon-chart"></i></li>
          <li title="chart-screen">
            <i class="layui-icon layui-icon-chart-screen"></i></li>
          <li title="engine">
            <i class="layui-icon layui-icon-engine"></i></li>
          <li title="triangle-d">
            <i class="layui-icon layui-icon-triangle-d"></i></li>
          <li title="triangle-r">
            <i class="layui-icon layui-icon-triangle-r"></i></li>
          <li title="file">
            <i class="layui-icon layui-icon-file"></i></li>
          <li title="set-sm">
            <i class="layui-icon layui-icon-set-sm"></i></li>
          <li title="add-circle">
            <i class="layui-icon layui-icon-add-circle"></i></li>
          <li title="404">
            <i class="layui-icon layui-icon-404"></i></li>
          <li title="about">
            <i class="layui-icon layui-icon-about"></i></li>
          <li title="up">
            <i class="layui-icon layui-icon-up"></i></li>
          <li title="down">
            <i class="layui-icon layui-icon-down"></i></li>
          <li title="left">
            <i class="layui-icon layui-icon-left"></i></li>
          <li title="right">
            <i class="layui-icon layui-icon-right"></i></li>
          <li title="circle-dot">
            <i class="layui-icon layui-icon-circle-dot"></i></li>
          <li title="search">
            <i class="layui-icon layui-icon-search"></i></li>
          <li title="set-fill">
            <i class="layui-icon layui-icon-set-fill"></i></li>
          <li title="group">
            <i class="layui-icon layui-icon-group"></i></li>
          <li title="friends">
            <i class="layui-icon layui-icon-friends"></i></li>
          <li title="reply-fill">
            <i class="layui-icon layui-icon-reply-fill"></i></li>
          <li title="menu-fill">
            <i class="layui-icon layui-icon-menu-fill"></i></li>
          <li title="log">
            <i class="layui-icon layui-icon-log"></i></li>
          <li title="picture-fine">
            <i class="layui-icon layui-icon-picture-fine"></i></li>
          <li title="face-smile-fine">
            <i class="layui-icon layui-icon-face-smile-fine"></i></li>
          <li title="list">
            <i class="layui-icon layui-icon-list"></i></li>
          <li title="release">
            <i class="layui-icon layui-icon-release"></i></li>
          <li title="ok">
            <i class="layui-icon layui-icon-ok"></i></li>
          <li title="help">
            <i class="layui-icon layui-icon-help"></i></li>
          <li title="chat">
            <i class="layui-icon layui-icon-chat"></i></li>
          <li title="top">
            <i class="layui-icon layui-icon-top"></i></li>
          <li title="star">
            <i class="layui-icon layui-icon-star"></i></li>
          <li title="star-fill">
            <i class="layui-icon layui-icon-star-fill"></i></li>
          <li title="close-fill">
            <i class="layui-icon layui-icon-close-fill"></i></li>
          <li title="close">
            <i class="layui-icon layui-icon-close"></i></li>
          <li title="ok-circle">
            <i class="layui-icon layui-icon-ok-circle"></i></li>
          <li title="add-circle-fine">
            <i class="layui-icon layui-icon-add-circle-fine"></i></li>
        </ul>
      </div>
      <div class="layui-tab-item">
        <ul>
          <!-- hand 17 -->
          <li title="hand-grab-o">
           <i class="fa fa-hand-grab-o"></i></li>
          <li title="hand-lizard-o">
           <i class="fa fa-hand-lizard-o"></i></li>
          <li title="hand-o-down">
           <i class="fa fa-hand-o-down"></i></li>
          <li title="hand-o-left">
           <i class="fa fa-hand-o-left"></i></li>
          <li title="hand-o-right">
           <i class="fa fa-hand-o-right"></i></li>
          <li title="hand-o-up">
           <i class="fa fa-hand-o-up"></i></li>
          <li title="hand-paper-o">
           <i class="fa fa-hand-paper-o"></i></li>
          <li title="hand-peace-o">
           <i class="fa fa-hand-peace-o"></i></li>
          <li title="hand-pointer-o">
           <i class="fa fa-hand-pointer-o"></i></li>
          <li title="hand-rock-o">
           <i class="fa fa-hand-rock-o"></i></li>
          <li title="hand-scissors-o">
           <i class="fa fa-hand-scissors-o"></i></li>
          <li title="hand-spock-o">
           <i class="fa fa-hand-spock-o"></i></li>
          <li title="hand-stop-o">
           <i class="fa fa-hand-stop-o"></i></li>
          <li title="thumbs-down">
           <i class="fa fa-thumbs-down"></i></li>
          <li title="thumbs-o-down">
           <i class="fa fa-thumbs-o-down"></i></li>
          <li title="thumbs-o-up">
           <i class="fa fa-thumbs-o-up"></i></li>
          <li title="thumbs-up">
           <i class="fa fa-thumbs-up"></i></li>
          <!-- text editor(49) -->
          <li title="align-center">
           <i class="fa fa-align-center"></i></li>
          <li title="align-justify">
           <i class="fa fa-align-justify"></i></li>
          <li title="align-left">
           <i class="fa fa-align-left"></i></li>
          <li title="align-right">
           <i class="fa fa-align-right"></i></li>
          <li title="bold">
           <i class="fa fa-bold"></i></li>
          <li title="chain">
           <i class="fa fa-chain"></i></li>
          <li title="chain-broken">
           <i class="fa fa-chain-broken"></i></li>
          <li title="clipboard">
           <i class="fa fa-clipboard"></i></li>
          <li title="columns">
           <i class="fa fa-columns"></i></li>
          <li title="copy">
           <i class="fa fa-copy"></i></li>
          <li title="cut">
           <i class="fa fa-cut"></i></li>
          <li title="dedent">
           <i class="fa fa-dedent"></i></li>
          <li title="eraser">
           <i class="fa fa-eraser"></i></li>
          <li title="file">
           <i class="fa fa-file"></i></li>
          <li title="file-o">
           <i class="fa fa-file-o"></i></li>
          <li title="file-text">
           <i class="fa fa-file-text"></i></li>
          <li title="file-text-o">
           <i class="fa fa-file-text-o"></i></li>
          <li title="files-o">
           <i class="fa fa-files-o"></i></li>
          <li title="floppy-o">
           <i class="fa fa-floppy-o"></i></li>
          <li title="font">
           <i class="fa fa-font"></i></li>
          <li title="header">
           <i class="fa fa-header"></i></li>
          <li title="indent">
           <i class="fa fa-indent"></i></li>
          <li title="italic">
           <i class="fa fa-italic"></i></li>
          <li title="link">
           <i class="fa fa-link"></i></li>
          <li title="list">
           <i class="fa fa-list"></i></li>
          <li title="list-alt">
           <i class="fa fa-list-alt"></i></li>
          <li title="list-ol">
           <i class="fa fa-list-ol"></i></li>
          <li title="list-ul">
           <i class="fa fa-list-ul"></i></li>
          <li title="outdent">
           <i class="fa fa-outdent"></i></li>
          <li title="paperclip">
           <i class="fa fa-paperclip"></i></li>
          <li title="paragraph">
           <i class="fa fa-paragraph"></i></li>
          <li title="paste">
           <i class="fa fa-paste"></i></li>
          <li title="repeat">
           <i class="fa fa-repeat"></i></li>
          <li title="rotate-left">
           <i class="fa fa-rotate-left"></i></li>
          <li title="rotate-right">
           <i class="fa fa-rotate-right"></i></li>
          <li title="save">
           <i class="fa fa-save"></i></li>
          <li title="scissors">
           <i class="fa fa-scissors"></i></li>
          <li title="strikethrough">
           <i class="fa fa-strikethrough"></i></li>
          <li title="subscript">
           <i class="fa fa-subscript"></i></li>
          <li title="superscript">
           <i class="fa fa-superscript"></i></li>
          <li title="table">
           <i class="fa fa-table"></i></li>
          <li title="text-height">
           <i class="fa fa-text-height"></i></li>
          <li title="text-width">
           <i class="fa fa-text-width"></i></li>
          <li title="th">
           <i class="fa fa-th"></i></li>
          <li title="th-large">
           <i class="fa fa-th-large"></i></li>
          <li title="th-list">
           <i class="fa fa-th-list"></i></li>
          <li title="underline">
           <i class="fa fa-underline"></i></li>
          <li title="undo">
           <i class="fa fa-undo"></i></li>
          <li title="unlink">
           <i class="fa fa-unlink"></i></li>
          <!-- direct(53) -->
          <li title="angle-double-down">
            <i class="fa fa-angle-double-down"></i></li>
          <li title="angle-double-left">
            <i class="fa fa-angle-double-left"></i></li>
          <li title="angle-double-right">
            <i class="fa fa-angle-double-right"></i></li>
          <li title="angle-double-up">
            <i class="fa fa-angle-double-up"></i></li>
          <li title="angle-down">
            <i class="fa fa-angle-down"></i></li>
          <li title="angle-left">
            <i class="fa fa-angle-left"></i></li>
          <li title="angle-right">
            <i class="fa fa-angle-right"></i></li>
          <li title="angle-up">
            <i class="fa fa-angle-up"></i></li>
          <li title="arrow-circle-down">
            <i class="fa fa-arrow-circle-down"></i></li>
          <li title="arrow-circle-left">
            <i class="fa fa-arrow-circle-left"></i></li>
          <li title="arrow-circle-o-down">
            <i class="fa fa-arrow-circle-o-down"></i></li>
          <li title="arrow-circle-o-left">
            <i class="fa fa-arrow-circle-o-left"></i></li>
          <li title="arrow-circle-o-right">
            <i class="fa fa-arrow-circle-o-right"></i></li>
          <li title="arrow-circle-o-up">
            <i class="fa fa-arrow-circle-o-up"></i></li>
          <li title="arrow-circle-right">
            <i class="fa fa-arrow-circle-right"></i></li>
          <li title="arrow-circle-up">
            <i class="fa fa-arrow-circle-up"></i></li>
          <li title="arrow-down">
            <i class="fa fa-arrow-down"></i></li>
          <li title="arrow-left">
            <i class="fa fa-arrow-left"></i></li>
          <li title="arrow-right">
            <i class="fa fa-arrow-right"></i></li>
          <li title="arrow-up">
            <i class="fa fa-arrow-up"></i></li>
          <li title="arrows">
            <i class="fa fa-arrows"></i></li>
          <li title="arrows-alt">
            <i class="fa fa-arrows-alt"></i></li>
          <li title="arrows-h">
            <i class="fa fa-arrows-h"></i></li>
          <li title="arrows-v">
            <i class="fa fa-arrows-v"></i></li>
          <li title="caret-down">
            <i class="fa fa-caret-down"></i></li>
          <li title="caret-left">
            <i class="fa fa-caret-left"></i></li>
          <li title="caret-right">
            <i class="fa fa-caret-right"></i></li>
          <li title="caret-square-o-down">
            <i class="fa fa-caret-square-o-down"></i></li>
          <li title="caret-square-o-left">
            <i class="fa fa-caret-square-o-left"></i></li>
          <li title="caret-square-o-right">
            <i class="fa fa-caret-square-o-right"></i></li>
          <li title="caret-square-o-up">
            <i class="fa fa-caret-square-o-up"></i></li>
          <li title="caret-up">
            <i class="fa fa-caret-up"></i></li>
          <li title="chevron-circle-down">
            <i class="fa fa-chevron-circle-down"></i></li>
          <li title="chevron-circle-left">
            <i class="fa fa-chevron-circle-left"></i></li>
          <li title="chevron-circle-right">
            <i class="fa fa-chevron-circle-right"></i></li>
          <li title="chevron-circle-up">
            <i class="fa fa-chevron-circle-up"></i></li>
          <li title="chevron-down">
            <i class="fa fa-chevron-down"></i></li>
          <li title="chevron-left">
            <i class="fa fa-chevron-left"></i></li>
          <li title="chevron-right">
            <i class="fa fa-chevron-right"></i></li>
          <li title="chevron-up">
            <i class="fa fa-chevron-up"></i></li>
          <li title="exchange">
            <i class="fa fa-exchange"></i></li>
          <li title="hand-o-down">
            <i class="fa fa-hand-o-down"></i></li>
          <li title="hand-o-left">
            <i class="fa fa-hand-o-left"></i></li>
          <li title="hand-o-right">
            <i class="fa fa-hand-o-right"></i></li>
          <li title="hand-o-up">
            <i class="fa fa-hand-o-up"></i></li>
          <li title="long-arrow-down">
            <i class="fa fa-long-arrow-down"></i></li>
          <li title="long-arrow-left">
            <i class="fa fa-long-arrow-left"></i></li>
          <li title="long-arrow-right">
            <i class="fa fa-long-arrow-right"></i></li>
          <li title="long-arrow-up">
            <i class="fa fa-long-arrow-up"></i></li>
          <li title="toggle-down">
            <i class="fa fa-toggle-down"></i></li>
          <li title="toggle-left">
            <i class="fa fa-toggle-left"></i></li>
          <li title="toggle-right">
            <i class="fa fa-toggle-right"></i></li>
          <li title="toggle-up">
            <i class="fa fa-toggle-up"></i></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<script>
// require : jquery layui[layer,element(tab)] input#jsf-icon
// todo : 改造为多个 .jsf-icon
;$(function(){
  // icon select 事件
  var timer,index,$this;
  // modal 打开事件
  $('.js-jsf-icon').click(function(e) {
    $this = $(this);
    // console.log($this);
    index = layer.open({
      title:"<h3>选择图标</h3>",
      type:1,
      // closeBtn:0,
      area:"600px",
      shadeClose:true,
      content:$("#icon-select"),
    });
  });
  // model 图标点击
  $('#icon-select .layui-tab-item li').click(function(e) {
    var css = $(this).find('i').attr('class');
    $this.val(css).parent().next('div').find('i').attr('class',css);
    layer.close(index);
  });
  // modal 及时搜索
  $('#icon-select #js-icon-search').keyup(function(e) {
    clearInterval(timer);
    $this = $(this);
    timer = setInterval(function(){
      var kword = $this.val();
      // console.log('kword',kword);
      if(kword){
        $('#icon-select .layui-tab-content i').map(function(i, el) {
          $el = $(el);
          if($el.attr('class').indexOf(kword) == -1){
            $el.parent().addClass('hide');
          }else{
            $el.parent().removeClass('hide');
          }
          // continue;
          // return something;
        })
      }else{
        $('#icon-select .layui-tab-content li').removeClass('hide');
      }
    },200);
  });
})
</script>