<!-- jquery.uploader+layui(theme)  -->
<link type="text/css" rel="stylesheet" href="__CDN__comp/wxuploader.css?v=__APP_VERSION__" />
<link type="text/css" rel="stylesheet" href="__CDN__comp/uploader.ui.css?v=__APP_VERSION__" />
<link type="text/css" rel="stylesheet" href="__PUBLIC__static/jquery-uploadify/3.2.1/uploadify.css" />
<script type="text/javascript" src="__PUBLIC__static/jquery-uploadify/3.2.1/jquery.uploadify.min.js"></script>

<script type="text/javascript">
  if(!Array.prototype.remove){
    Array.prototype.remove = function(val) {
      var index = this.indexOf(val);
      if (index > -1) {  this.splice(index, 1); }
    };
  }
  var imgIds = []; // 选中的图片 ids
  function getImg(d){
    var id = $(d).find('img').data('imageid');
    if(!$(d).hasClass("img-selected")){
      if($.inArray(id,imgIds) == -1){
        imgIds.push(id);
      }
    }else{
      if($.inArray(id,imgIds) != -1) {
        imgIds.remove(id);
      }
    }
  }
  // 删除图片
  function removeImg(){
    //console.log(imgIds);
    var warning = '你真的要删除图片吗？如果有商品正在使用将无法正常显示！！！';
    layer.confirm(warning,{ icon: 3, title:'提示' },function(index){
      $.ajax({
        type:"POST",
        url:"{:url('file/del')}",
        data:{ imgIds:imgIds },
        context:window,
        dataType: "json",
        success:function(data){
          //console.log(data);
          if(data.code == 1){
            imgIds.length = 0;
            window.wxuploadimg.setChecked(0);
            window.wxuploadimg.queryImgList();
          }else{
            layer.msg(data.msg,{ icon:5 });
          }
        }
      })
      layer.close(index);
    });
    return false;
  }

  // 模块化 datetimepicker
  layui.use(['jquery','form','datetimepicker','wxuploadimg'],function(){
    var layer = layui.layer
    ,form = layui.form
    ,$ = layui.$;

    /* 初始化上传插件  */
    $("#wxuploadimg #upload_picture").uploadify({
      'buttonClass': 'layui-btn layui-btn-primary layui-btn-sm',
      "height": "30px",
      "swf": "__PUBLIC__static/jquery-uploadify/3.2.1/uploadify.swf",
      "fileObjName": "wxshop", //wxshop
      "buttonText": "<i class='layui-icon layui-icon-upload'></i>本地上传",
      "uploader": "{:url('file/uploadUserPicture',['session_id'=>session_id()])}",
      "width": 120,
      'removeTimeout': 1,
      'fileTypeExts': '*.jpg; *.png; *.gif;*.jpeg',
      "onUploadSuccess": uploadPicture
    });
    // 上传成功回调
    function uploadPicture(file, data) {
      var data = $.parseJSON(data);
      if (data.status) { //重新查询第一页
        window.wxuploadimg.pager.index = 1;
        window.wxuploadimg.queryImgList();
      } else {
        msg(data.info, 5);
      }
    }
    // 图片选择初始化
    layui.wxuploadimg.init({
      wr:"#wxuploadimg"
      ,cont:".wxuploaderimg"
      ,query: "{:url('file/picturelist')}?p="
    });
    // 表单提交处理图片ids
    $('#body').on('click','.ajax-post',function(){
      var flag = true,img;
      $('.wxuploaderimg').each(function(index, el) {
        $el = $(el);
        img = $el.find('.img-preview img').map(function(i,el) { return el.getAttribute('data-imageid'); }).get().join(',');
        $el.prev('input').val(img); // 修改图片表单域
      });
      return flag;
    });
    // 日期控件初始化
    if($.fn.datetimepicker){
      $("#wxuploadimg input.time").datetimepicker({
        lang: 'ch',
        timepicker:false,
        format:'Y-m-d',
        allowBlank : true,
      });
      console.log("日期初始化成功！");
    }
  });
</script>