<!-- fine.uploader+layui(theme)  -->
<link type="text/css" rel="stylesheet" href="__CDN__comp/wxuploader.css?v=__APP_VERSION__" />
<link type="text/css" rel="stylesheet" href="__CDN__comp/uploader.ui.css?v=__APP_VERSION__" />
<link type="text/css" rel="stylesheet" href="__CDN__fine-uploader/fine-uploader.css" />
<script src="__CDN__fine-uploader/fine-uploader.core.min.js"></script>

<script type="text/javascript">
  if(!Array.prototype.remove){
    Array.prototype.remove = function(val) {
      var index = this.indexOf(val);
      if (index > -1) {  this.splice(index, 1); }
    };
  }
  var imgIds = []; // 选中的图片 ids
  function getImg(d){
    var id = $(d).find('img').data('imageid');
    if(!$(d).hasClass("img-selected")){
      if($.inArray(id,imgIds) == -1){
        imgIds.push(id);
      }
    }else{
      if($.inArray(id,imgIds) != -1) {
        imgIds.remove(id);
      }
    }
  }
  // 删除图片
  function removeImg(){
    //console.log(imgIds);
    var warning = '你真的要删除图片吗？如果有商品正在使用将无法正常显示！！！';
    layer.confirm(warning,{ icon: 3, title:'提示' },function(index){
      $.ajax({
        type:"POST",
        url:"{:url('file/del')}",
        data:{ imgIds:imgIds },
        context:window,
        dataType: "json",
        success:function(data){
          //console.log(data);
          if(data.code == 1){
            imgIds.length = 0;
            window.wxuploadimg.setChecked(0);
            window.wxuploadimg.queryImgList();
          }else{
            layer.msg(data.msg,{ icon:5 });
          }
        }
      })
      layer.close(index);
    });
    return false;
  }

  var uploader;
  // 模块化 datetimepicker
  layui.use(['rb','jquery','form','datetimepicker','wxuploadimg'],function(){
    var layer = layui.layer
    ,form = layui.form
    ,rb = layui.rb
    ,$ = layui.$;

    // 图片选择初始化
    layui.wxuploadimg.init({
      wr:"#wxuploadimg"
      ,cont:".wxuploaderimg"
      ,query: "{:url('file/picturelist')}?p="
    });
    var uploader = new qq.FineUploaderBasic({
      debug: true,
      // autoUpload: true,
      // editFilename: {
      //   enabled: false
      // },
      omitDefaultParams : true,
      button : document.getElementById('upload_picture'),
      request: {
        filenameParam: "fileNameSrc",
        inputName: "wxshop",
        endpoint: "{:url('file/uploadUserPicture',['session_id'=>session_id()])}"
      },
      // params:{
      //   test : 'test'
      // },
      // retry: {
      //   enableAuto: true
      // },
      validation : {
        allowedExtensions: ['jpeg', 'jpg', 'gif', 'png'],
        sizeLimit: 512000, // 500 kB = 500 * 1024 bytes
      },
      // deleteFile: {
      //   enabled: true,
      //   endpoint: '<%=request.getContextPath()%>/manage/Bulletin?op=del',
      //   method: 'POST',
      //   forceConfirm: true,
      //   confirmMessage: '确定要删除文件 {filename} 吗？ 不可恢复！！',
      //   deletingFailedText: '删除失败！'
      // },
      callbacks: {
        // onSubmit: function(id, fileName) {
        //   $messages.append('<div id="file-' + id + '" class="alert" style="margin: 20px 0 0"></div>');
        // },
        // onUpload: function(id, fileName) {
        //   $('#file-' + id).addClass('alert-info')
        //     .html('<img src="client/loading.gif" alt="Initializing. Please hold."> ' +'Initializing ' +'“' + fileName + '”');
        // },
        // Id:表示第几个开始上传的文件.Fine Uploder定义是默认从0开始计数.
        // fileName：上传文件的文件名.
        // loaded：表示已经上传到服务器端数据的大小[byte].
        // total: 需要上传文件的大小.
        // responseJSON: 用来在上传操作完成后返回的Json格式的数据.通过Jquery反序列化出来对象.其中包含一个IsSuccess属性用来判断此次上传是否成功.
        // onProgress:  function(id,  fileName,  loaded,  total)  {
        //   console.log(id,fileName);
        // },
        onComplete: function(id,  fileName,  responseJSON)  {
          uploadPicture(fileName,responseJSON);
        },
        onError: function(id, name ,err) {
          rb.msg(err,5)
        }
        // onAllComplete:  function(successIDs, failIDs)  {
        //   if(submitFile) submitdata(successIDs);
        // }
        // onCancel:  function(id,  fileName)  {},
      }

    });

    // 上传成功回调
    function uploadPicture(file, data) {
      // var data = $.parseJSON(data);
      if (data.status) { //重新查询第一页
        window.wxuploadimg.pager.index = 1;
        window.wxuploadimg.queryImgList();
      } else {
        rb.msg(data.info, 5);
      }
    }
    // 表单提交处理图片ids
    $('#body').on('click','.ajax-post',function(){
      var flag = true,img;
      $('.wxuploaderimg').each(function(index, el) {
        $el = $(el);
        img = $el.find('.img-preview img').map(function(i,el) { return el.getAttribute('data-imageid'); }).get().join(',');
        $el.prev('input').val(img); // 修改图片表单域
      });
      return flag;
    });
    // 日期控件初始化
    if($.fn.datetimepicker){
      $("#wxuploadimg input.time").datetimepicker({
        lang: 'ch',
        timepicker:false,
        format:'Y-m-d',
        allowBlank : true,
      });
      console.log("日期初始化成功！");
    }
  });
</script>