<!-- web-uploader+layui(theme)  -->
<link type="text/css" rel="stylesheet" href="__CDN__comp/uploader.ui.css?v=__APP_VERSION__" />
<link href="__CDN__web-uploader/css/uploader.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__CDN__web-uploader/js/Q.js"></script>
<script type="text/javascript" src="__CDN__web-uploader/js/Q.Uploader.js"></script>
<script type="text/javascript">
  var imgIds = []; // 选中的图片 ids
  function getImg(d){
    var id = $(d).find('img').data('imageid');
    if(!$(d).hasClass("img-selected")){
      if($.inArray(id,imgIds) == -1){
        imgIds.push(id);
      }
    }else{
      if($.inArray(id,imgIds) != -1) {
        imgIds.remove(id);
      }
    }
  }
  // 删除图片
  function removeImg(){
    //console.log(imgIds);
    var warning = '你真的要删除图片吗？如果有商品正在使用将无法正常显示！！！';
    layer.confirm(warning,{ icon: 3, title:'提示' },function(index){
      $.ajax({
        type:"POST",
        url:"{:url('file/del')}",
        data:{ imgIds:imgIds },
        context:window,
        dataType: "json",
        success:function(data){
          //console.log(data);
          if(data.code == 1){
            imgIds.length = 0;
            window.wxuploadimg.setChecked(0);
            window.wxuploadimg.queryImgList();
          }else{
            layer.msg(data.msg,{ icon:5 });
          }
        }
      })
      layer.close(index);
    });
    return false;
  }
  var uploader;
  // 模块化 datetimepicker
  layui.use(['rb','jquery','form','datetimepicker','wxuploadimg'],function(){
    var layer = layui.layer
    ,form = layui.form
    ,rb = layui.rb
    ,$ = layui.$;
    function log(msg) {
      // document.getElementById("log").innerHTML += (msg != undefined ? msg : "") + "<br />";
      console.log(msg);
    }
    var Uploader = Q.Uploader;
    var uploader = new Uploader({
      url: "{:url('file/uploadUserPicture',['session_id'=>session_id()])}",
      target: document.getElementById("upload_picture"),
      // view: document.getElementById("upload-view"),
      allows: ".jpeg,.jpg,.png,.gif", //允许的格式
      maxSize: 500*1024, //最大字节,0不限(浏览器支持才生效)
      //每次上传都会发送的参数(POST方式)
      // data: { user: "Devin" },
      //auto: false,
      //图片缩放
      scale: {
        //要缩放的图片格式
        types: ".jpg",
        //最大图片大小(width|height)
        maxWidth: 1024
      },
      upName: "wxshop",
      /*
        上传回调事件：
        init,          //上传管理器初始化完毕后触发
        select,        //点击上传按钮准备选择上传文件之前触发,返回false可禁止选择文件
        add[Async],    //添加任务之前触发,返回false将跳过该任务
        upload[Async], //上传任务之前触发,返回false将跳过该任务
        send[Async],   //发送数据之前触发,返回false将跳过该任务
        cancel,        //取消上传任务后触发
        remove,        //移除上传任务后触发
        progress,      //上传进度发生变化后触发(仅html5模式有效)
        complete       //上传完成后触发
      */
      on: {
        add: function (task) {  // 添加之前触发
          //task.limited存在值的任务不会上传，此处无需返回false
          switch (task.limited) {
            case 'ext': return alert("允许上传的文件格式为：" + this.ops.allows);
            case 'size': return alert("允许上传的最大文件大小为：" + Q.formatSize(this.ops.maxSize));
          }
          //自定义判断，返回false时该文件不会添加到上传队列
          log(task.name + ": 已添加!");
          // return false;
        },
        remove: function (task) {  // 任务移除后触发
          // log(task.name + ": 已移除!");
        },
        upload: function (task) {  // 上传之前触发
          // exe文件可以添加，但不会上传
          if (task.ext == ".exe") return false;
          //可针对单独的任务配置参数(POST方式)
          task.data = { name: task.name + "_" + Date.now() };
        },
        // progress: function (task){
        //  console.log('progress',task);
        // },
        complete: function (task) { // 上传完成后触发
          // NProgress 100%
          // console.log('complete',task);
          rb.uploadPicture(task,task.response);
          // if (task.state != Uploader.COMPLETE) return log(task.name + ": " + Uploader.getStatusText(task.state) + "!");
          // log(task.name + ": 服务器返回 " + (task.response || ""));
          // //this.list  为上传任务列表
          // //this.index 为当前上传任务索引
          // if (this.index >= this.list.length - 1) {
          //     //所有任务上传完成
          //     log("所有任务上传完成：" + new Date());
          // }
        }
      },
      UI:{ // 忽略默认UI实现
        init: function(){ },           //执行初始化操作
        draw: function(task){ },       //添加任务后绘制任务界面
        update: function(task){ },     //更新任务界面
        over: function(){ }            //任务上传完成
      }
    });

    // 图片选择初始化
    layui.wxuploadimg.init({
      wr:"#wxuploadimg"
      ,cont:".wxuploaderimg"
      ,query: "{:url('file/picturelist')}?p="
    });
    // 表单提交处理图片ids
    $('#body').on('click','.ajax-post',function(){
      var flag = true,img;
      $('.wxuploaderimg').each(function(index, el) {
        $el = $(el);
        img = $el.find('.img-preview img').map(function(i,el) { return el.getAttribute('data-imageid'); }).get().join(',');
        $el.prev('input').val(img); // 修改图片表单域
      });
      return flag;
    });
    // 日期控件初始化
    if($.fn.datetimepicker){
      $("#wxuploadimg input.time").datetimepicker({
        lang: 'ch',
        timepicker:false,
        format:'Y-m-d',
        allowBlank : true,
      });
      console.log("日期初始化成功！");
    }
  });
</script>