<!-- layui(theme + upload)  -->
<link type="text/css" rel="stylesheet" href="__CDN__comp/uploader.ui.css?v=__VERSION__" />

<script type="text/javascript">
if(!Array.prototype.remove){
Array.prototype.remove = function(val) {
  var index = this.indexOf(val);
  if (index > -1) {
  this.splice(index, 1);
  }
};}
  var imgIds = []; // 选中的图片 ids
  function getImg(d){
    var id = $(d).find('img').data('imageid');
    if(!$(d).hasClass("img-selected")){
      if($.inArray(id,imgIds) == -1){
        imgIds.push(id);
      }
    }else{
      if($.inArray(id,imgIds) != -1) {
        imgIds.remove(id);
      }
    }
  }
  // 删除图片
  function removeImg(){
    //console.log(imgIds);
    var warning = '你真的要删除图片吗？如果有商品正在使用将无法正常显示！！！';
    layer.confirm(warning,{ icon: 3, title:'提示' },function(index){
      $.ajax({
        type:"POST",
        url:"{:url('file/del')}",
        data:{ imgIds:imgIds },
        context:window,
        dataType: "json",
        success:function(data){
          //console.log(data);
          if(data.code == 1){
            imgIds.length = 0;
            window.wxuploadimg.setChecked(0);
            window.wxuploadimg.queryImgList();
          }else{
            layer.msg(data.msg,{ icon:5 });
          }
        }
      })
      layer.close(index);
    });
    return false;
  }
  // 模块化 datetimepicker
  layui.use(['jquery','rb','form','datetimepicker','upload','element','wxuploadimg'],function(){
    var layer = layui.layer
    ,form = layui.form
    ,ele = layui.element
    ,rb = layui.rb
    ,$ = layui.$;
    // 图片选择初始化
    layui.wxuploadimg.init({
      wr:"#js_pic_select_wrap"
      ,cont:".wxuploaderimg"
      ,query: "{:url('file/picturelist')}?p="
    });
    // 表单提交处理图片ids
    $('#body').on('click','.ajax-post',function(){
      var flag = true,img;
      $('.wxuploaderimg').each(function(index, el) {
        $el = $(el);
        img = $el.find('.img-preview img').map(function(i,el) { return el.getAttribute('data-imageid'); }).get().join(',');
        $el.prev('input').val(img); // 修改图片表单域
      });
      return flag;
    });

    var uploadInst = layui.upload.render({
      elem: '#upload_picture'
      ,url: "{:url('file/uploadUserPicture',['session_id'=>session_id()])}"
      //,accept: 'file' //允许上传的文件类型
      ,multiple: true // ie9+
      ,drag:true
      ,size: 500 //ie9+
      ,accept: 'images' // images、file（所有）、video、audio
      ,field: 'wxshop'
      ,before: function(obj){
        rb.progress('progress-1'); //上传loading
      }
      ,done: function(res, index, upload){
        rb.progress('progress-1',100);
        rb.uploadSuccess(index,res);
      }
      ,error: function(index, upload){
        rb.msg('上传失败',5);
      }
    });
    // 日期控件初始化
    if($.fn.datetimepicker){
      $("#js_pic_select_wrap input.time").datetimepicker({
        lang: 'ch',
        timepicker:false,
        format:'Y-m-d',
        allowBlank : true,
      });
      console.log("日期初始化成功！");
    }
  });
</script>