{extend name="df/tpl/base_index" /}

{block name="area_body"}
<div class="layui-card">
  <div class="layui-card-header">{$cfg.business} {:L('manage')}</div>
  <div class="layui-card-body">
    {:html_head_tip($cfg['business']."管理,点击带 .列单元格编辑")}
    <form class="layui-form layui-form-pane" lay-filter="js-form"> <!-- autocomplete="off" -->
      {:token()}
      <div class="layui-inline">
        <!-- <label for="jsf-kword" class="layui-form-label">关键词</label> -->
        <select class="user_select2" id="jsf-uid" style="width:200px;" lay-ignore>
        <!-- <option value="">UID/账号/昵称/手机号</option> -->
        </select>
      </div>
      <div class="layui-inline layui-form-item mb0">
        <!-- <label class="layui-form-label">规则</label> -->
        <div class="layui-input-inline" style="width: 130px;">
          <select id="jsf-rule" lay-search>
            <option value="">== 规则 ==</option>
            <option value="1">禁止帖子</option>
            <option value="2">禁止回复</option>
            <option value="3">禁止帖子/回复</option>
          </select>
        </div>
      </div>
      <div class="layui-inline">
        <a class="layui-btn layui-btn-sm" id="js-search" title="搜索"> <i class="layui-icon layui-icon-search"></i> </a>
        <button class="layui-btn layui-btn-sm" title="重置" type="reset">重置</button>
      </div>
    </form>
    <table id="demo" lay-filter="fDemo"></table>
  </div>
</div>
<script type="text/html" id="toolbarDemo">
  <div class="layui-btn-group">
    <a href="{:url(CONTROLLER_NAME.'/set')}" class="layui-btn layui-btn-sm ajax-layer" title="添加禁闭"><i class="layui-icon layui-icon-add-1"></i></a>
  </div>
</script>
<script type="text/html" id="barDemo">
  <div class="layui-btn-group">
    <a href="javascript:;" data-uid="{{ d.uid }}" class="layui-btn layui-btn-sm" title="详细违规">详情</i></a>
    <a href="{:url(CONTROLLER_NAME.'/del',[],'')}?id={{ d.id }}" class="layui-btn layui-btn-sm layui-btn-danger ajax-get confirm no-alert no-refresh fresh-table" title="解除"><i class="layui-icon layui-icon-delete"></i></a>
  </div>
</script>
{/block}

{block name="area_foot"}
<!-- script -->
<script>
// page init
layui.use(['rb','table2','form','select2'], function(){
  var layer = layui.layer
  ,table = layui.table2
  ,form = layui.form
  ,rb = layui.rb
  ,$ = layui.$;
  // form init
  // table init
  rb.where.field  = 'create_time';
  rb.setWhere = function() {
    rb.where.rule = $('#jsf-rule').val();
    rb.where.uid  = $('#jsf-uid').val();
    // if(rb.where.uid){
    //   rb.where.field = 'create_time';
    // }
  }
  // table render
  rb.table = table.render($.extend(rb.table_config,{
    url: '{:url(CONTROLLER_NAME."/ajax")}'
    ,where: rb.where
    ,initSort: {
      field: 'create_time',type: 'desc'
    }
    ,cols: [[
      // {checkbox: true} //,fixed: 'left',LAY_CHECKED: true
      {field: 'id', title: 'ID', minWidth: 60,sort:true,hideDisable:true}
      ,{field: 'uid', title: '用户', templet:"#uidTpl"}
      ,{field: 'count',align:'right',minWidth:60,title: '违规次数',templet:"#countTpl"}
      ,{field: 'rule', title: '规则',templet:"#ruleTpl"}
      ,{field: 'reason', title: '原因'}
      ,{field: 'start_time', title: '开始时间', width: 125,templet: '#startTimeTpl'}
      ,{field: 'end_time', title: '结束时间', width: 125,templet:"#endTimeTpl"}
      ,{field: 'update_time',align:'right',width:85,title: '上次更新', sort:true,hide:true,templet: '#updateTimeTpl'}
      ,{field: 'create_time',align:'right',width:85,title: '添加时间', sort:true,hide:true,templet: '#createTimeTpl'}
      ,{align:'left',fixed: 'right',title: '操作', width: 105,toolbar: '#barDemo'}
    ]]
  }));

  $(".user_select2").select2(rb.getSelect2Config({ },{ url: "{:url('user/ajax')}" }));
  {include file="df/tpl/index_extra"}
});
</script>
<!-- tpl -->
<script type="text/html" id="uidTpl">
  {{# if (d.uid >0){ }}
  {{ layui.rb.avaImg(d.uid,60) }}
  <a href="{:url(CONTROLLER_NAME.'/detail',[],'')}?id={{ d.uid }}" class="layui-table-link ajax-layer tooltip" data-text="[{{ d.uid }}] {{ d.uname }}" title='用户 {{ d.uname }} 详情'> {{ d.unick }}</a>
  {{# } }}
</script>
<script type="text/html" id="startTimeTpl">
  {{ layui.rb.getFormatTime(d.start_time) }}
</script>
<script type="text/html" id="countTpl">
  {{# if (d.count>0) { }}
  {{ d.count }}
  {{# } }}
</script>
<script type="text/html" id="endTimeTpl">
  {{ layui.rb.getFormatTime(d.end_time) }}
</script>
<script type="text/html" id="updateTimeTpl">
  {{ layui.rb.getFormatTime(d.update_time) }}
</script>
<script type="text/html" id="ruleTpl">
  {{ d.rule_desc }}
</script>
{/block}