{extend name="df/tpl/base_index" /}

{block name="area_body"}
<div class="layui-card">
  <div class="layui-card-header">{$cfg.business}{:L('manage')}</div>
  <div class="layui-card-body">
    {:html_head_tip($cfg['business'].'数据,点击 .单元格编辑')}
    <form class="layui-form layui-form-pane" lay-filter="js-form"> <!-- autocomplete="off" -->
      {:token()}
      <div class="layui-inline">
        <!-- <label for="jsf-kword" class="layui-form-label">关键词</label> -->
        <div class="layui-input-inline" style="width: 200px;">
          <input type="text" id="jsf-kword" name="kword" class="layui-input" required lay-require="true" placeholder="活动名" autofocus>
        </div>
      </div>
      <div class="layui-inline layui-form-item mb0">
        <label class="layui-form-label">活动时间 <i class="layui-icon layui-icon-date"></i></label>
        <div class="layui-input-inline" style="width: 130px;">
          <input type="text" id='jsf-start' name="start" class="layui-input" >
        </div>
        <div class="layui-form-mid">-</div>
        <div class="layui-input-inline" style="width: 130px;">
          <input type="text" id='jsf-end' name="end" class="layui-input">
        </div>
      </div>
      <div class="layui-inline">
        <a class="layui-btn layui-btn-sm" id="js-search" title="搜索"> <i class="layui-icon layui-icon-search"></i> </a>
        <button class="layui-btn layui-btn-sm" title="重置" type="reset">重置</button>
      </div>
    </form>

<table id="demo" lay-filter="fDemo"></table>
  </div>
</div>

<script type="text/html" id="toolbarDemo">
  <div class="layui-btn-group">
    <a href="{:url(CONTROLLER_NAME.'/set')}" class="layui-btn layui-btn-sm ajax-layer" title="添加" ><i class="layui-icon layui-icon-add-1"></i></a>
    <a data-href="{:url(CONTROLLER_NAME.'/dels')}" data-table="demo" class="layui-btn layui-btn-danger confirm js-ops layui-btn-sm layer-msg no-refresh fresh-table" title="批量删除" ><i class="layui-icon layui-icon-delete"></i></a>
  </div>
</script>
<script type="text/html" id="barDemo">
  <div class="layui-btn-group">
    <a href="{:url(CONTROLLER_NAME.'/lotteryPrizeLink',[],'')}?id={{ d.id }}" class="layui-btn layui-btn-sm ajax-layer" title="奖品">奖品</a>
    <a href="{:url(CONTROLLER_NAME.'/set',[],'')}?id={{ d.id }}" class="layui-btn layui-btn-sm ajax-layer" title="修改"><i class="layui-icon layui-icon-edit"></i></a>
    <a href="{:url(CONTROLLER_NAME.'/del',[],'')}?id={{ d.id }}" class="layui-btn layui-btn-sm layui-btn-danger ajax-get confirm no-refresh fresh-table" title="删除"><i class="layui-icon layui-icon-delete"></i></a>
  </div>
</script>
{/block}

{block name="area_foot"}
<!-- script -->
<script>
// page init
layui.use(['rb','table2','form','datetimepicker','picView','select2'], function() {
  var layer = layui.layer
  ,table = layui.table2
  ,form = layui.form
  ,rb = layui.rb
  ,$ = layui.$;

  // form init
  // table init
  rb.setWhere = function () {
    rb.where.kword = $('#jsf-kword').val();
    rb.where.start = $('#jsf-start').val();
    rb.where.end   = $('#jsf-end').val();
  }
  // table render
  rb.table = table.render($.extend(rb.table_config, {
    url: '{:url(CONTROLLER_NAME."/ajax")}'
    ,where:rb.where
    ,cols:  [[
      {type: 'checkbox'} //,LAY_CHECKED: true
      ,{field: 'id', title: 'ID', minWidth: 80,sort:true,hideDisable:true }
      ,{field: 'lname', title: '活动' }
      ,{field: 'pname', title: '奖品' }
      ,{field: 'get_num', title: '中奖数' }
      ,{field: 'ptype', title: '类型',templet: '#ptypeTpl' }
      ,{field: 'get_uid', title: '中奖人',templet: '#getUidTpl' }
      ,{field: 'get_time', title: '中奖时间',templet: '#getTimeTpl' }
      ,{align:'left',width:145,title: '操作',toolbar: '#barDemo'}
    ]]
  }));
  //
  rb.initDateTimePicker('#jsf-start,#jsf-end');
  {include file="df/tpl/index_extra"}
});
</script>
<!-- tpl -->
<script type="text/html" id="getTimeTpl">
  {{ layui.rb.getFormatTime( d.get_time ) }}
</script>
<script type="text/html" id="ptypeTpl">
  {{ d.ptype }} x {{ d.pnum }}
</script>
<script type="text/html" id="getUidTpl">
  {{# if(d.get_uid>0){ }}
  {{ layui.rb.avaImg(d.get_uid,60) }}<a href="{:url('user/detail')}?id={{ d.get_uid }}" class="layui-table-link ajax-layer" title="查看用户详情">{{ d.add_name }}</a>
  {{# } }}
</script>


<script type="text/html" id="allotTpl">
   {{# if(d.to_uid>0){ }}
   {{ layui.rb.avaImg(d.to_uid,60) }}<a href="{:url('user/detail')}?id={{ d.to_uid }}" class="layui-table-link ajax-layer" title="查看用户详情">{{ d.to_name }}</a>
   {{# } }}
</script>
<script type="text/html" id="pidTpl">
  <a href="{:url('wallet_his/index')}?pid={{ d.pid }}&dt_type=17" title="PID({{ d.pid }})的分佣详情" data-width="95%" class="ajax-layer layui-table-link">{{# if( d.to_uid ){ }}  <i class="layui-icon layui-icon-password"></i> {{# } }} {{ d.pid }}</a>
</script>
<script type="text/html" id="inviteUrlSmTpl">
  <a href="{{ d.invite_url_sm }}" class="layui-table-link" target="_blank" title="{{ d.invite_url_sm }}">{{ d.invite_url_sm }}</a>
</script>
{/block}