RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^index.php(.*)$ index.php?s=$1 [L]
RewriteRule ^admin.php(.*)$ admin.php?s=$1 [L]
RewriteRule ^test.php(.*)$ test.php?s=$1 [L]
RewriteRule ^web.php(.*)$ web.php?s=$1 [L]