<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>公司简介</title>
    <link rel="stylesheet" href="__CSS__about.css">
    <link rel="stylesheet" href="__CSS__bootstrap.min.css">
    <script src="__JS__jquery.js"></script>
    <script src="__JS__bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="col-xs-12" id="solid">
        <img src="__IMG__5285c1e71a221.jpg" height="160" width="355"/>
    </div>
    <div class="col-xs-12" id="content">
        <h4>>>公司简介</h4>
        <hr/>
        京东于2004年正式涉足电商领域。2015年，京东集团市场交易额达到4627亿元，净收入达到1813亿元，年交易额同比增长78%，增速是行业平均增速的2倍*。京东是中国收入规模最大的互联网企业。2016年7月，京东入榜2016《财富》全球500强，成为中国首家、唯一入选的互联网企业。截至2016年6月30日，京东集团拥有超过11万名正式员工，业务涉及电商、金融和技术三大领域。
        2014年5月，京东集团在美国纳斯达克证券交易所正式挂牌上市，是中国第一个成功赴美上市的大型综合型电商平台，并成功跻身全球前十大互联网公司排行榜，2015年7月，京东凭借高成长性入选纳斯达克100指数和纳斯达克100平均加权指数。
        <h5>配送服务说明：</h5>
        211限时达：当日上午11：00前提交的现货订单（部分城市为上午10点前），以订单出库完成拣货时间点开始计算，当日送达；夜里11：00前提交的现货订单（以订单出库后完成拣货时间点开始计算），次日15：00前送达。
        次日达：在一定时间点之前提交的现货订单（以订单出库后完成拣货的时间点开始计算），将于次日送达。
        极速达：京东为消费者提供的一项个性化付费增值服务。消费者通过“在线支付”方式全额成功付款或“货到付款”方式成功提交订单，并勾选“极速达”服务后，京东会在服务时间内，2小时将商品送至消费者所留地址，目前仅北京、上海、广州、成都等部分城市的部分派送区域支持极速达服务。
        夜间配：京东为消费者提供更快速、更便利的一项增值服务。消费者下单时在日历中选择“19:00-22:00”时段，属“夜间配”服务范围内的商品，京东会尽可能安排配送员在消费者选定当日晚间19:00-22:00送货上门。目前，“夜间配”业务在北京、上海、广州、成都、武汉、沈阳六个城市提供服务。
        <h5>媒体垂询:</h5>
        media-contact@jd.com

    </div>
</div>
</body>
</html>