<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>使用协议</title>
    <link rel="stylesheet" href="__CSS__about.css">
    <link rel="stylesheet" href="__CSS__bootstrap.min.css">
    <script src="__JS__jquery.js"></script>
    <script src="__JS__bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="col-xs-12" id="solid">
        <img src="__IMG__5285c1e71a221.jpg" height="160" width="355"/>
    </div>
    <div class="col-xs-12" id="content">
        <h4>>>使用协议</h4>
        <hr/>
        甲乙双方在平等互利的基础上，遵循诚实信用的原则，通过友好协商就甲乙双方合作建设甲方的企业管理信息系统，达成如下协议：
        一、本协议的合作原则：
        本协议为甲乙双方的初步合作协议，目的是甲乙双方就甲方的企业管理信息系统的管理需求、业务流程、数据处理流程等进行考察、研讨，制定基于乙方产品的系统解决方案，并就项目的建设实施等有关问题达成协议。
        二、系统涉及的软件产品及相关服务的价格清单
        乙方许可甲方使用的软件产品清单、提供的服务项目及其费用见附件一。
        三、质量标准
        乙方保证所许可的软件产品符合中华人民共和国有关法律、法规规定及所附文档的功能说明。
        四、软件版权及使用权
        本协议中授权许可指的是软件使用权许可，许可使用的软件产品版权属乙方所有，并受《中华人民共和国著作权法》和其他有关法律、法规的保护。
        甲方按本合同条款规定支付协议书上所列软件产品的全部软件使用许可费，乙方授予甲方上述软件产品的合法使用权。

    </div>
</div>

</body>
</html>