<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>联系我们</title>
    <link rel="stylesheet" href="__CSS__about.css">
    <link rel="stylesheet" href="__CSS__bootstrap.min.css">
    <script src="__JS__jquery.js"></script>
    <script src="__JS__bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="col-xs-12" id="solid">
        <img src="__IMG__5285c1e71a221.jpg" height="160" width="355"/>
    </div>
    <div class="col-xs-12" id="content">
        <h4>>>联系我们</h4>
        <hr/>
        <address>
            <h5>腾讯深圳总部</h5>
            地址:深圳市南山区高新科技园中区一路腾讯大厦 <br>
            邮编:518057<br>
            总机电话:0755-86013388<br>
            传真:0755-86013399<br>
            客服电话:客服服务中心
        </address>
    </div>
</div>

</body>
</html>