<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>意见反馈</title>
    <link rel="stylesheet" href="__CSS__about.css">
    <link rel="stylesheet" href="__CSS__bootstrap.min.css">
    <script src="__JS__jquery.js"></script>
    <script src="__JS__bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="col-xs-12" id="solid">
        <img src="__IMG__5285c1e71a221.jpg" height="160" width="355"/>
    </div>
    <div class="col-xs-12" id="content">
        <h4>>>意见反馈</h4>
        <hr/>
        您在购买过程中有什么疑问可以通过以下联系方式联系到我们，我们会对您的疑问及问题时进行处理。
        <address>
            Written by <a href="mailto:webmaster@example.com">Jon Doe</a>.<br>
            Visit us at:<br>
            Example.com<br>
            Box 564, Disneyland<br>
            USA
        </address>

    </div>
</div>

</body>
</html>