<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>用户手册</title>
    <link rel="stylesheet" href="__CSS__about.css">
    <link rel="stylesheet" href="__CSS__bootstrap.min.css">
    <script src="__JS__jquery.js"></script>
    <script src="__JS__bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="col-xs-12" id="solid">
        <img src="__IMG__5285c1e71a221.jpg" height="160" width="355"/>
    </div>
    <div class="col-xs-12" id="content">
        <h4>>>客户常见问题解答</h4>
        <hr/>
        <h4>关于发货</h4>
        <p>基本都有现货供应，正常情况下当天付款当天可发货，如要后处理底布当天付款次日发货</p>
        <h4>关于物流</h4>
        <p>所有批发均发物流运费由买方自付，如需发快递需补付运费。</p>
        <h4>关于换货</h4>
        <p>如有质量问题可退可换，无质量问题不能退换</p>
        <h4>关于色差</h4>
        <p>布料均为实拍，显示器 或光线等问题造成色差不可避免。缸差不能退换</p>
        <h4>关于样本</h4>
        <p>如需批发事先联系我们，先发样本再按样本号点货。免费寄样，邮费自理</p>
    </div>
</div>

</body>
</html>