{extend name="df/tpl/base" /}

{block name="area_body"}
<fieldset class="layui-elem-field">
  <legend>数据字典</legend>
  <div class="layui-field-box">
    {:html_head_tip('点击带 .列单元格编辑')}
    <table id="demo" lay-filter="fDemo"></table>
  </div>
</fieldset>
<script type="text/html" id="toolbarDemo">
  <div class="layui-btn-group">
      <a href="{:url(CONTROLLER_NAME.'/set',['parent'=>$parent])}" class="layui-btn layui-btn-sm" title="添加"><i class="layui-icon layui-icon-add-1"></i></a>
      <a data-href="{:url(CONTROLLER_NAME.'/dels',['check'=>1])}" data-table="demo" class="layui-btn layui-btn-danger js-ops confirm layui-btn-sm" title="批量删除"><i class="layui-icon layui-icon-delete"></i></a>
    </div>
    {gt name="parent" value="0"}
    <a href="{:url(CONTROLLER_NAME.'/index',['parent'=>$parent,'up'=>1])}" class="layui-btn layui-btn-warm layui-btn-sm" title="返回" id="js-return"><i class="fa fa-reply"></i> </a>
    {/gt}
</script>
<script type="text/html" id="barDemo">
<div class="layui-btn-group">
  <a href="{:url(CONTROLLER_NAME.'/set',[],'')}?id={{ d.id }}" class="layui-btn layui-btn-sm" title="编辑"><i class="layui-icon layui-icon-edit"></i></a>
  <a href="{:url(CONTROLLER_NAME.'/del',['check'=>1],'')}?id={{ d.id }}" class="layui-btn layui-btn-sm layui-btn-danger ajax-get confirm no-alert" title="删除"><i class="layui-icon layui-icon-delete"></i></a>
</div>
</script>
<!-- script -->
<script>
// page init
layui.use(['rb','table2','form'], function(){
  var layer = layui.layer
  ,table = layui.table2
  ,form = layui.form
  ,rb = layui.rb
  ,$ = layui.$;
  rb.log('page','init');
  // form init
  // table init
  rb.where.parent = parseInt({$parent|default=0});
  rb.where.field  = 'sort';
  // table render
  rb.table = table.render($.extend(rb.table_config,{
    url: '{:url(CONTROLLER_NAME."/ajax")}'
    ,where: rb.where
    ,initSort: {
      field:'sort'
      ,type:'desc'
    }
    ,cols:  [[
      {checkbox: true} //,LAY_CHECKED: true
      ,{field: 'id', title: 'ID', minWidth: 60,templet: '#idTpl', style:'cursor: pointer;',sort:true,event:'go',sort:true}
      ,{field: 'title', title: '字典名 .',edit: 'text'}
      ,{field: 'name', title: '系统名 .',edit: 'text'}
      ,{field: 'icon', title: '图标 .',edit: 'text',templet: '#iconTpl'}
      ,{field: 'desc', title: '描述 .',edit: 'text'}
      ,{field: 'is_sys', title: '系统',width:60,templet:'#isSysTpl'}
      ,{field: 'sort',align:'right',title: '排序 .',minWidth:60,edit: 'text',sort:true}
      ,{align:'left',title: '操作',width:85,toolbar: '#barDemo'}
    ]]
  }));
  {include file="df/tpl/index_extra"}
});
</script>
<script type="text/html" id="iconTpl">
  <i class="{{ d.icon }}"></i>
</script>
<script type="text/html" id="idTpl">
  <a href="{:url(CONTROLLER_NAME.'/index',[],'')}?parent={{ d.id }}" class="layui-table-link" title="查看下级">{{ d.id }}</a>
</script>
<script type="text/html" id="isSysTpl">
  <form class="layui-form">
  <input type="checkbox" class="layer-msg no-refresh fresh-table" data-id="{{ d.id }}" data-field="is_sys" value="{{ d.is_sys }}"
  {{# if(d.is_sys){ }} checked  {{#  } }}
  lay-skin="switch">
  </form>
</script>
{/block}