{extend name="new/template/base" /}

{block name="area_header"}
    {include file="new/template/base_bootstrap" /}

{/block}

{block name="area_body"}
<div class="admin-main container-fluid">
    <div class="admin-main-content">
            <div class="table-responsive well">
                <h2>国家级别区域数据管理</h2>
                 <!-- 过滤\查询按钮 -->
                <div class="filter-controls">
                    <form action="{:url('Country/index')}" class="memberForm form-inline" method="post">
                        <div class="form-group">
                            <label class="control-label">国家名称</label>
                            <div class="input-group">
                                <input class="form-control" type="text" name="name" placeholder="国家名称" value="{$name}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">&nbsp;</label>
                            <div class="input-group">
                                <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-search"></i>查询</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- 操作按钮 -->
                <div class="btn-controls">
                    <!--<a class="btn btn-sm btn-primary" href="{:url('Country/add')}"><i class="fa fa-plus"></i>{:L('BTN_ADD')}国家</a>-->
                </div>

                <table class="table table-striped table table-hover  table-condensed">
                    <thead>
                    <tr>
                        <th>国家ID</th>
                        <th >国家名称</th>
                        <th >国家拼音</th>
                        <th >电话前缀</th>
                        <th>{:L('OPERATOR')}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {empty name="list"}
                        <tr>
                            <td colspan="3" class="text-center">{:L('NO_DATA')}</td>
                        </tr>
                    {else/}
                        {volist name="list"  id="vo"}
                            <tr>
                                <td data-id="{$vo['id']}">{$vo['id']}</td>
                                <td><a href="{:url('Province/index',array('father'=>$vo['id']))}">{$vo['country_name']}</a></td>

                                <td  >{$vo['py']}</td>
                                <td  >{$vo['country_tel_prefix']}</td>
                                <td><a class="btn btn-sm btn-default" href="{:url('Province/index',array('father'=>$vo['id']))}"><i class="fa fa-edit"  data-loading-text="{:L('BTN_EDIT')}..." ></i>下属区域管理</a>

                                    <a class="btn btn-sm btn-default" href="{:url('Country/edit',array('id'=>$vo['id']))}"><i class="fa fa-edit"  data-loading-text="{:L('BTN_EDIT')}..." ></i>{:L('BTN_EDIT')}</a>
                                    <a href="{:url('Country/delete',array('id'=>$vo['id']))}" class="btn btn-danger btn-sm ajax-get confirm"><i class="fa fa-trash-o"></i> {:L('BTN_DELETE')} </a>
                                </td>
                            </tr>
                        {/volist}
                    {/empty}
                    </tbody>
                </table>
                <div>{$show|raw}</div>
            </div>
        </div>
        <!-- END admin-main-content -->
    </div>
    <!-- END admin-main-->

{/block}

{block name="area_footer"}

{/block}