{extend name="df/tpl/base" /}

{block name="area_body"}
<fieldset class="layui-elem-field">
  <legend>节点 管理</legend>
  <div class="layui-field-box">
    {:html_head_tip('前端节点数据,点击单元格编辑')}
    <table id="demo" lay-filter="fDemo"></table>
  </div>
</fieldset>
<script type="text/html" id="toolbarDemo">
  <div class="layui-btn-group">
    <a href="{:url(CONTROLLER_NAME.'/set')}" class="layui-btn layui-btn-sm" title="添加"><i class="layui-icon layui-icon-add-1"></i> </a>
    <a data-href="{:url(CONTROLLER_NAME.'/dels')}" data-table="demo" class="layui-btn layui-btn-danger confirm js-ops layui-btn-sm" title="批量删除"><i class="layui-icon layui-icon-delete"></i> </a>
    <a href="{:url(CONTROLLER_NAME.'/editOne',['field'=>'status','val'=>'-1'])}" class="layui-btn confirm js-ops layui-btn-sm" title="批量禁用"><i class="fa fa-ban"></i> </a>
  </div>
</script>
<script type="text/html" id="barDemo">
  <div class="layui-btn-group">
    <a href="{:url(CONTROLLER_NAME.'/detail',[],'')}?id={{ d.id }}" class="layui-btn layui-btn-sm"><i class="layui-icon layui-icon-right"></i> 详情</a>
    <a href="{:url(CONTROLLER_NAME.'/set',[],'')}?id={{ d.id }}" class="layui-btn layui-btn-sm" title="编辑"><i class="layui-icon layui-icon-edit"></i> </a>
    <a href="{:url(CONTROLLER_NAME.'/del',[],'')}?id={{ d.id }}" class="layui-btn layui-btn-sm layui-btn-danger ajax-get confirm no-alert" title="删除"> <i class="layui-icon layui-icon-delete"></i> </a>
  </div>
</script>
<!-- script -->
<script>
// page init
layui.use(['rb','table2','form'], function(){
  var layer = layui.layer
  ,table = layui.table2
  ,form = layui.form
  ,rb = layui.rb
  ,$ = layui.$;

  rb.log('page','init');
  //执行渲染
  rb.table = table.render($.extend(rb.table_config,{
    url: '{:url(CONTROLLER_NAME."/ajax")}'
    ,cols:  [[
      { checkbox: true} //,LAY_CHECKED: true
      ,{ field: 'id', title: 'ID', minWidth: 60,sort:true }
      ,{ field: 'title', title: '节点名 .',edit: 'text' }
      ,{ field: 'name', title: '系统名' }
      ,{ field: 'desc', title: '描述 .',edit: 'text' }
      ,{ align:'left',title: '操作',width:150,toolbar: '#barDemo' }
    ]]
  }));
  {include file="df/tpl/index_extra"}
});
</script>
{/block}