{extend name="df/tpl/base_index" /}

{block name="area_body"}
<div class="layui-card">
  <div class="layui-card-header">{$cfg.business}{:L('manage')}</div>
  <div class="layui-card-body">
    {:html_head_tip("最多2级".$cfg['business'].",点击带 .列单元格编辑")}
    <table id="demo" lay-filter="fDemo"></table>
  </div>
</div>
<script type="text/html" id="toolbarDemo">
  <div class="layui-btn-group">
    <a href="{:url(CONTROLLER_NAME.'/set',['parent'=>$parent])}" class="layui-btn layui-btn-sm ajax-layer" title="添加"><i class="layui-icon layui-icon-add-1"></i></a>
    <a data-href="{:url(CONTROLLER_NAME.'/dels',['check'=>1])}" data-table="demo" class="layui-btn layui-btn-danger js-ops confirm layui-btn-sm" title="批量删除"><i class="layui-icon layui-icon-delete no-refresh fresh-table"></i></a>
  </div>
  {gt name="parent" value="0"}
  <a href="{:url(CONTROLLER_NAME.'/index',['parent'=>$parent,'up'=>1])}" class="layui-btn layui-btn-warm layui-btn-sm"  title="返回" id="js-return"><i class="fa fa-reply"></i> </a>
  {/gt}
  <a href="{:url(CONTROLLER_NAME.'/drag')}" class="layui-btn fr  layui-btn-primary layui-btn-sm" title="高级模式"><i class="fa fa-superpowers"></i> todo : 高级模式</a>
</script>
<script type="text/html" id="barDemo">
  <div class="layui-btn-group">
    <a href="{:url(CONTROLLER_NAME.'/set',[],'')}?id={{ d.id }}" class="layui-btn layui-btn-sm ajax-layer" title="编辑"><i class="layui-icon layui-icon-edit"></i></a>
    <a href="{:url(CONTROLLER_NAME.'/del',['check'=>1],'')}?id={{ d.id }}" class="layui-btn layui-btn-sm layui-btn-danger ajax-get confirm no-alert no-refresh fresh-table" title="删除"><i class="layui-icon layui-icon-delete"></i></a>
  </div>
</script>
{/block}

{block name="area_foot"}
<!-- script -->
<script>
// page init
layui.use(['rb','table2','form'], function(){
  var layer = layui.layer
  ,table = layui.table2
  ,form = layui.form
  ,rb = layui.rb
  ,$ = layui.$;
  // form init
  // table init
  rb.where.parent = parseInt({$parent|default=0})
  rb.where.field  = 'sort';
  // table render
  rb.table = table.render($.extend(rb.table_config,{
    url: '{:url(CONTROLLER_NAME."/ajax")}'
    ,where: rb.where
    ,initSort: {
      field: 'sort',type: 'desc'
    }
    ,cols:  [[
      {checkbox: true } //,LAY_CHECKED: true
      ,{field: 'id', title: 'ID', width: 60,templet: '#nameTpl', style:'cursor: pointer;',event:'go',sort:true,hideDisable:true }
      ,{field: 'icon', title: '图标',width:60,templet: '#imgTpl' }
      ,{field: 'name', title: '板块 .',edit: 'text' }
      ,{field: 'auth', title: '审核',width:60,templet:'#authTpl' }
      ,{field: 'status', title: '显示', width: 60,templet:'#statusTpl' }
      ,{field: 'sort',title: '排序 .',align:'right',minWidth:60,edit: 'text',sort:true }
      ,{align: 'left',title: '操作',width:85,toolbar: '#barDemo' }
    ]]
  }));

  {include file="df/tpl/index_extra"}
});
</script>
<!-- tpl -->
<script type="text/html" id="imgTpl">
  {{# if (d.img>0) { }}
  {{ layui.rb.img(d.img,60,'layui-nav-img') }}
  {{# } }}
</script>
<script type="text/html" id="authTpl">
  <form class="layui-form">
    <input type="checkbox" data-id="{{ d.id }}" class="layer-msg no-refresh" data-field="auth" {{# if(d.auth){ }} checked  {{#  } }} lay-skin="switch">
  </form>
</script>
<script type="text/html" id="statusTpl">
  <form class="layui-form">
    <input type="checkbox" data-id="{{ d.id }}" class="layer-msg no-refresh" data-field="status" {{# if(d.status){ }} checked  {{#  } }} lay-skin="switch">
  </form>
</script>
{/block}