{extend name="df/tpl/base" /}

{block name="area_body"}
<fieldset class="layui-elem-field">
  <legend>{$cfg.business} {:L('manage')}</legend>
  <div class="layui-field-box">
    {:html_head_tip('省市区最多3级,前面00-99中国,点击带 .列单元格编辑')}
    <table id="demo" lay-filter="fDemo"></table>
  </div>
</fieldset>
<script type="text/html" id="toolbarDemo">
  <div class="layui-btn-group">
    <a href="{:url(CONTROLLER_NAME.'/set',['parent'=>$parent])}" class="layui-btn  layui-btn-sm left-radius" title="添加"><i class="layui-icon layui-icon-add-1"></i>
    <a data-href="{:url(CONTROLLER_NAME.'/dels',['check'=>1])}" data-table="demo" title='批量删除' class="layui-btn layui-btn-danger  layui-btn-sm js-ops confirm"><i class="layui-icon layui-icon-delete"></i></a>
  </div>
  {gt name="parent" value="0"}
  <a href="{:url(CONTROLLER_NAME.'/index',['parent'=>$parent,'up'=>1])}" class="layui-btn layui-btn-warm  layui-btn-sm" title="返回" id="js-return"><i class="fa fa-reply"></i> </a>
  {/gt}
  <a href="{:url(CONTROLLER_NAME.'/drag')}" class="layui-btn fr  layui-btn-primary layui-btn-sm"><i class="fa fa-superpowers"></i> 高级模式</a>
</script>
<script type="text/html" id="barDemo">
<div class="layui-btn-group">
  <a href="{:url(CONTROLLER_NAME.'/set',[],'')}?id={{ d.id }}" class="layui-btn layui-btn-sm" title="编辑"><i class="layui-icon layui-icon-edit"></i></a>
  <a href="{:url(CONTROLLER_NAME.'/del',['check'=>1],'')}?id={{ d.id }}" class="layui-btn layui-btn-sm layui-btn-danger ajax-get confirm no-alert" title="删除"><i class="layui-icon layui-icon-delete"></i></a>
</div>
</script>
<!-- script -->
<script>
var parent = parseInt({$parent|default=1});
// page init
layui.use(['rb','table2','form'], function(){
  var layer = layui.layer
  ,table = layui.table2
  ,form = layui.form
  ,rb = layui.rb
  ,$ = layui.$;

  rb.log('page','init');
  // form init
  // table init
  rb.where.parent = parent;
  rb.where.field  = 'sort';
  // table render
  rb.table = table.render($.extend(rb.table_config,{
    url: '{:url(CONTROLLER_NAME."/ajax")}'
    ,where: rb.where
    ,initSort: {
      field: 'sort',type: 'desc'
    }
    ,cols:  [[
      {checkbox: true} //,fixed: 'left',LAY_CHECKED: true
      ,{field: 'id', title: 'ID', minWidth: 60,event: 'go',templet:'#urlTpl', style:'cursor: pointer;',sort:true}
      ,{field: 'code', title: '编码 .',edit: 'text'}
      ,{field: 'province', title: '省 .',edit: 'text'}
      ,{field: 'city', title: '市 .',edit: 'text'}
      ,{field: 'district', title: '区 .',edit: 'text'}
      ,{field: 'sort',title: '排序 .',align:'right',minWidth:60,edit: 'text',sort:true}
      ,{align:'left',title: '操作',width:85,toolbar: '#barDemo'}
    ]]
  }));
  {include file="df/tpl/index_extra"}
});
</script>
<script type="text/html" id="urlTpl">
  <a href="{:url(CONTROLLER_NAME.'/index',[],'')}?parent={{ d.id }}" class="layui-table-link">{{ d.id }}</a>
</script>
{/block}