{extend name="df/tpl/base" /}

{block name="area_body"}
<fieldset class="layui-elem-field">
  <legend>Banner 管理</legend>
  <div class="layui-field-box">
    {:html_head_tip('系统轮播汇总,点击单元格编辑')}
    <form class="layui-form layui-form-pane">
      {:token()}
      <div class="layui-inline">
        <!-- <label for="jsf-dt-id" class="layui-form-label">关键词</label> -->
        <div class="layui-input-inline" style="width: 200px;">
          <select name="dt_id" id="jsf-dt-id" lay-filter="search">
            <option value='0'> ==  全部  == </option>
            {volist name="types" id="v"}
            <option value="{$key}" {eq name="dt_id" value="$key"} selected {/eq}>{$v}</option>
            {/volist}
          </select>
        </div>
      </div>
      <div class="layui-inline hide">
        <a class="layui-btn layui-btn-sm" id="js-search" title="搜索"> <i class="layui-icon layui-icon-search"></i> </a>
      </div>
    </form>
    <table id="demo" lay-filter="fDemo"></table>
  </div>
</fieldset>

<script type="text/html" id="toolbarDemo">
  <div class="layui-btn-group">
    <a href="{:url(CONTROLLER_NAME.'/set',['dt_id'=>$dt_id])}" class="layui-btn layui-btn-sm" id="js-add" title="添加"><i class="layui-icon layui-icon-add-1"></i></a>
    <a data-href="{:url(CONTROLLER_NAME.'/dels')}" data-table="demo" class="layui-btn layui-btn-sm layui-btn-danger js-ops confirm" title="批量删除"><i class="layui-icon layui-icon-delete"></i></a>
  </div>
</script>
<script type="text/html" id="barDemo">
  <div class="layui-btn-group">
    <a href="{:url(CONTROLLER_NAME.'/set',[],'')}?id={{ d.id }}" class="layui-btn layui-btn-sm" title="编辑"><i class="layui-icon layui-icon-edit"></i></a>
    <a href="{:url(CONTROLLER_NAME.'/del',[],'')}?id={{ d.id }}" class="layui-btn layui-btn-sm layui-btn-danger ajax-get confirm no-alert" tilte="删除"><i class="layui-icon layui-icon-delete"></i></a>
  </div>
</script>
{/block}

{block name="area_foot"}
<!-- script -->
<script>
var url_types = JSON.parse('{:json_encode($url_types)}');
var types = JSON.parse('{:json_encode($types)}');
// page init
layui.use(['rb','table2','form'], function(){
  var layer = layui.layer
  ,table = layui.table2
  ,form = layui.form
  ,rb = layui.rb
  ,$ = layui.$;

  rb.log('page','init');

  var dt_id  = parseInt({$dt_id ?: 0});
  // form init
  // table init
  rb.where.dt_id = dt_id;
  rb.where.field = 'sort';
  rb.setWhere = function () {
    rb.where.dt_id = parseInt($('#jsf-dt-id').prop('value') || 0);
  }
  // table render
  rb.table = table.render($.extend(rb.table_config,{
    url: '{:url(CONTROLLER_NAME."/ajax")}'
    ,where: rb.where
    ,initSort: {
      field: 'sort',type: 'desc'
    }
    ,cols:  [[
      {checkbox: true}
      ,{field: 'img', title: '图片', width: 100,templet:'#imgTpl'}
      // ,{field: 'title', title: '标志 .', width: 150,edit: 'text'}
      ,{field: 'url', title: '链接 .', width: 250,edit: 'text'}
      ,{field: 'url_type', title: '链接类型 .', width: 100,edit: 'text',templet:'#urlTypeTpl'}
      ,{field: 'dt_id', title: '位置 .', width: 200,edit: 'text',templet:'#dtIdTpl'}
      ,{field: 'sort', title: '排序 .', width: 80,edit: 'text',sort:true}
      ,{align:'left',fixed: 'right',title: '操作',width:250,toolbar: '#barDemo'}
    ]]
  }));
  {include file="df/tpl/index_extra"}
  // 重写 form.on('select(search)
  form.on('select(search)', function(data){
    $('#js-add').attr('href',"{:url(CONTROLLER_NAME.'/set',[])}?dt_id="+$('#jsf-dt-id').prop('value'));
    $('#js-search').trigger('click');
  });
});
</script>
<!-- tpl -->
<script type="text/html" id="imgTpl">
{{# if (d.img >0){ }}
{{ layui.rb.img(d.img,60,'js-view') }}
{{# } }}
</script>
<script type="text/html" id="urlTypeTpl">
{{ url_types[d.url_type] }}
</script>
<script type="text/html" id="dtIdTpl">
{{ types[d.dt_id] }}
</script>
{/block}